<h1 class="ui block header">All Vacancies</h1>
<div class="ui divider"></div>
{{#if message}}
<h3>{{message}}</h3>
{{/if }}

<div class="ui grid listView">
    {{#each data}}
    <div class="ui seven column row">
        <div class="ui column">
          <img class="ui tiny image company-logo" src="{{logo_url}}"/>
        </div>
        <div class="ui column">
            <p>{{companyName}}</p>
        </div>
        <div class="ui column">
            <p>{{jobTitle}}</p>
        </div>
        {{#if salary}}
        <div class="ui column">
            <p>{{salary}}</p>
        </div>
        {{/if }}
        <div class="ui column">
            {{#if searchDeadline}}  <!-- positioned if block inside div so button alignment works -->
            <label for="">Search Deadline:</label>
            <p>{{searchDeadline}}</p>
            {{/if }}
        </div>
        <div class="right floated column">
          <a href='/admin/job/{{vid}}'>
            <button class="ui inverted blue button">View  <span style="color:green"> {{newCvCount}}</span></button>
          </a>
        </div>
        <div class="right floated column">
          <a href='/admin/job/remove/{{vid}}'>
            <button class="ui inverted blue button">Remove</button>
          </a>
        </div>
    </div>
    <div class="ui divider"></div>
    {{/each}}
</div>
