 {{> vacancy}}
<div class="ui divider"></div>
<a href="/admin/job/{{vid}}/{{clientEmail}}">
    <button class="ui inverted blue button">Notify Client of New Candidates</button>
</a>
{{#unless message}}
<button class="ui inverted green button" id="submitRatings">Save Changes</button>
{{/unless}}
<div class="ui divider"></div>
{{#if message}}
<h3>{{message}}</h3>
 {{/if}}
<div id="candidates">
    <div class="ui stackable grid listView">
            {{#each cvs}}

            <div class="ui five column row">
                  <div class="column text-overflow-element">
                      <h5>{{agencyName}}</h5>
                  </div>
                  <div class="column text-overflow-element">
                      <h5>{{candidateName}}</h5>
                  </div>
                  <div class="column text-overflow-element">
                      <h5>{{jobTitle}}</h5>
                  </div>
                  <div class="column text-overflow-element">
                      <h5>{{salary}}</h5>
                  </div>
                  <div class="column">
                    <div class="ui compact menu">
                        <div class="ui compact selection dropdown">
                            <input data-aEmail="{{agencyEmail}}" type="hidden" name="{{vid}}" id="{{cvid}}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Rate</div>
                            <div class="menu">
                                <div class="item" data-value="gold" title="Gold"><i class="trophy yellow icon"></i></div>
                                <div class="item" data-value="silver" title="Silver"><i class="trophy grey icon"></i></div>
                                <div class="item" data-value="bronze" title="Bronze"><i class="trophy brown icon"></i></div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>

              <div class="ui five column row">
                  <div class="column text-overflow-element">  <!-- for proper rendering purposes-->
                    {{#if linkedInProfile}}
                      <a href="{{linkedInProfile}}"><h5>{{linkedInProfile}}</h5></a>
                    {{/if }}
                  </div>
                  <div class="column text-overflow-element">
                    <a href="tel:{{contactNumber}}"><h5>{{contactNumber}}</h5></a>
                  </div>
                  <div class="column text-overflow-element">
                    <a href="mailto:{{email}}"><h5>{{email}}</h5></a>
                  </div>
                  <div class="column">
                    <a href="{{file_url}}" type="text" download><h5>Download CV</h5></a>
                  </div>
                  <div class="column">
                    <a href="/admin/job/{{vid}}/reject/{{agencyEmail}}/{{cvid}}">
                        <button class="ui inverted red button">Reject</button>
                    </a>
                  </div>
              </div>

            <div class="ui divider"></div>
        {{/each}}
    </div>
</div>
