<h1>Admin's Job Page</h1>



   <li>{{data.jobTitle}}</li>
    <li>{{data.salary}}</li>
    {{#if data.submittedDate}}
    <li>{{data.submittedDate}}</li>
    {{/if}}
    <li>{{data.searchDeadline}}</li>
    <li>{{data.jobDescription}}</li>
    <li>{{data.teamCulture}}</li>
    {{#if data.jobCategory}}
    <li>{{data.jobCategory}}</li>
    {{/if}}
    <li>{{data.typesOfProjects}}</li>
    {{#if data.teamSize}}
    <li>{{data.teamSize}}</li>
    {{/if}}
    {{#if data.skillOne}}
    <li>{{data.skillOne}}</li>
    {{/if}}
     {{#if data.skillTwo}}
    <li>{{data.skillTwo}}</li>
    {{/if}}
     {{#if data.skillThree}}
    <li>{{data.skillThree}}</li>
    {{/if}}
    {{#if data.personality}}
    <li>{{data.personality}}</li>
    {{/if}}
    {{#if data.searchProgress}}
    <li>{{data.searchProgress}}</li>
    {{/if}}
    <li>{{data.dateSubmitted}}</li>
  
{{#if message}}
    {{message}}
{{/if}}


{{#each cvs}}
<div class="ui horizontal segments">
    <div class="ui segment">
        <label for=""></label>
        <h4>{{candidateName}}</h4>
    </div>
    <div class="ui segment">
        <label for=""></label>
        <h4>{{jobTitle}}</h4>
    </div>
    <div class="ui segment">
        <label for=""></label>
        <h4>{{contactNumber}}</h4>
    </div>
    <div class="ui segment">
          <a href="{{file_url}}" type="text" download>  <label for=""></label>
      <h4>Download CV</h4></a>
    </div>
    <div class="ui segment">
        <button class="ui red button">Reject</button>
    </div>
    <div class="ui segment">
        <select class="ui dropdown">
            <option value=""> Accept</div>
            <option value=""> Gold</div>
            <option value=""> Silver</div>
            <option value=""> Silver</div>
        </select>
    </div>
</div>
{{/each}}


<!--  // add to cv object agency id -->