<h1 class="ui block header">All Vacancies</h1>
<div class="ui divider"></div>
{{#if message}}
<h3>{{message}}</h3>
{{/if }}

{{#if data}}
<div class="overview-heading">
    <div class="ui stackable grid">
      <div class="two wide column text-overflow-element">
        <h4>Company Image</h4>
      </div>
      <div class="two wide column text-overflow-element">
        <h4>Company</h4>
      </div>
      <div class="two wide column text-overflow-element">
        <h4>Job Title</h4>
      </div>
      <div class="two wide column text-overflow-element">
        <h4>Salary</h4>
      </div>
      <div class="two wide column text-overflow-element">
        <h4>Search Deadline</h4>
      </div>
      <div class="four wide column text-overflow-element text-centering">
        <h4>Candidates at Application Stage</h4>
      </div>
    </div>
    <div class="ui stackable grid">
      <div class="ten wide column"></div>
      <div class="one wide column">
        <h5>1</h5>
      </div>
      <div class="one wide column">
        <h5>2</h5>
      </div>
      <div class="one wide column">
        <h5>3</h5>
      </div>
      <div class="one wide column">
        <h5>4</h5>
      </div>
    </div>
    <div class="ui divider"></div>
</div>

{{#each data}}
<div class="ui stackable grid listView">
    <div class="ui seven column row">
        <div class="column">
          <img class="ui tiny image company-logo" src="{{logo_url}}"/>
        </div>
        <div class="column">
            <p>{{companyName}}</p>
        </div>
        <div class="column">
            <p>{{jobTitle}}</p>
        </div>
        {{#if salary}}
        <div class="column">
            <p>{{salary}}</p>
        </div>
        {{/if }}
        <div class="column">
            {{#if searchDeadline}}  <!-- positioned if block inside div so button alignment works -->
            <label for="">Search Deadline:</label>
            <p>{{searchDeadline}}</p>
            {{/if }}
        </div>
        <div class="right floated column">
          <a href='/admin/job/{{vid}}'>
            <button class="ui inverted blue button">View  <span style="color:green"> {{newCvCount}}</span></button>
          </a>
        </div>
        <div class="right floated column">
          <a href='/admin/job/remove/{{vid}}'>
            <button class="ui inverted blue button">Remove</button>
          </a>
        </div>
    </div>
    <div class="ui divider"></div>
</div>
{{/each}}
