<h1>Admin's Job Page</h1>

  {{message}}

   <li>{{data.jobTitle}}</li>
    <li>{{data.salary}}</li>
    {{#if data.submittedDate}}
    <li>{{data.submittedDate}}</li>
    {{/if}}
    <li>{{data.searchDeadline}}</li>
    <li>{{data.jobDescription}}</li>
    <li>{{data.teamCulture}}</li>
    {{#if data.jobCategory}}
    <li>{{data.jobCategory}}</li>
    {{/if}}
    <li>{{data.typesOfProjects}}</li>
    {{#if data.teamSize}}
    <li>{{data.teamSize}}</li>
    {{/if}}
    {{#if data.skillOne}}
    <li>{{data.skillOne}}</li>
    {{/if}}
     {{#if data.skillTwo}}
    <li>{{data.skillTwo}}</li>
    {{/if}}
     {{#if data.skillThree}}
    <li>{{data.skillThree}}</li>
    {{/if}}
    {{#if data.personality}}
    <li>{{data.personality}}</li>
    {{/if}}
    {{#if data.searchProgress}}
    <li>{{data.searchProgress}}</li>
    {{/if}}
    <li>{{data.dateSubmitted}}</li>
