<div class="centerHome">
    <h1 class="ui block header">Admin Dashboard</h1>
    <div class="ui divider"></div>
    <a href='/adminvacancies'>
        <button class="ui inverted blue button">Vacancy List</button>
    </a>
    <a href="/admin/newharnesstalent">
        <button class="ui inverted blue button">New Harness Talent</button>
    </a>
    <a href="/approveusers">
        <button class="ui inverted blue button">Approve Users</button>
    </a>
    <a href="/userinfo">
        <button class="ui inverted blue button">User Info</button>
    </a>
</div>
