<div class="home-navbar container">
    <div class="ui container">
        <div class="agencyHomeLogo">
        </div>
    </div>
</div>
<div class="agency wrapper">
    <div class="agency background">
        <img class="main-pic" src="/public/assets/images/check-shirt.jpg">
        <div class="agencyHomeLogo">
        <a href="/">
        <image height="40px" class="harnessphoto" src="public/assets/images/whiteLogo.png">
        </a>
          </div>
        <a class="agencyButton" href="/login/{{agencyAuthEndpoint}}">
            <button class="ui linkedin button"><i class="linkedin icon"></i> Agency Login  </button>
        </a>
    </div>
</div>
