<div class="home-navbar container">
    <div class="ui container">
        <div class="agencyHomeLogo">
            <a href="/">
                <image height="40px" class="" src="public/assets/images/black-logo.png">
            </a>
        </div>
    </div>
</div>
<div class="agency wrapper">
    <div class="agency background">
        <img class="main-pic" src="/public/assets/images/check-shirt.jpg">
        <a class="agencyButton" href="/login/{{agencyAuthEndpoint}}">
            <button class="ui linkedin button"><i class="linkedin icon"></i> Agency Login  </button>
        </a>
    </div>
</div>
