<h1 class="ui block header">Live Jobs</h1>
<div class="ui divider"></div>
{{#if message}}
<h3>{{{message}}} </h3>
{{/if }}
<div class="ui grid listView">
    {{#each data}}
    <!-- an image might go in here....  -->
    <div class="ui four column row">
        <div class="ui column">
            <p>{{companyName}}</p>
        </div>
        <div class="ui column">
            <p>{{jobTitle}}</p>
        </div>
        <div class="ui column">
            <p>{{salary}}</p>
        </div>
        <div class="ui column">
            <a href="/agency/job/{{vid}}">
                <button class="ui inverted blue button">View Job</button>
            </a>
        </div>
    </div>
    <div class="ui divider"></div>
    {{/each}}
</div>
