<h1 class="ui block header">{{title}}</h1>
<div class="ui divider"></div>



{{#unless data}}
<h3 class="ui header">None of your candidates have been moved to scheduling by any clients </h3>
{{/unless}}

{{#if data}}
<div class="overview-heading">
    <div class="ui stackable grid">
      <div class="three wide column text-overflow-element">
        <h4>Name</h4>
      </div>
      <div class="three wide column text-overflow-element">
        <h4>Job Title</h4>
      </div>
      <div class="three wide column text-overflow-element">
        <h4>Email</h4>
      </div>
      <div class="four wide column text-overflow-element text-centering">
        <h4>Application Stage</h4>
      </div>
      <div class="two wide column">
        <h4>Date Posted</h4>
      </div>
      <div class="three wide column">
      </div>
    </div>
    <div class="ui stackable grid application-stages">
      <div class="nine wide column"></div>
      <div class="one wide column">
        <h5>1</h5>
      </div>
      <div class="one wide column">
        <h5>2</h5>
      </div>
      <div class="one wide column">
        <h5>3</h5>
      </div>
      <div class="one wide column">
        <h5>4</h5>
      </div>
    </div>
    <div class="ui divider"></div>
</div>
{{/if }}


{{#each data}}
<div class="ui stackable grid listView" id="{{cvid}}">
  <div class="three wide column text-overflow-element">
    <h5>{{companyName}}</h5>
  </div>
  <div class="three wide column text-overflow-element">
    <h5>{{jobTitle}} </h5>
  </div>
  <div class="three wide column text-overflow-element">
    <a href="mailto:{{email}}"><h5>{{clientEmail}}</h5></a>
  </div>
  <div class="one wide column">
      <h5>{{stageone}} </h5> 
  </div>
  <div class="one wide column">
       <h5>{{stagetwo}}</h5>
  </div>
  <div class="one wide column">
       <h5>{{stagethree}}</h5>
  </div>
  <div class="one wide column">
      <h5>{{stagefour}}</h5>
  </div>
  <div class="two wide column">
      <h5>{{dateSubmitted}}</h5>    
  </div>
  <div class="one wide column">
  </div>
</div>
<div class="ui divider"></div>
{{/each}}

{{#each data}}
  {{log this}}
{{/each}}


<!-- <script type="text/javascript" src="/public/js/overview.js"></script>
 -->