<div class="home-navbar container">
    <div class="ui container">
        <div class="">
            <a href="/">
                <image height="28" class="home logo" src="public/assets/images/black-logo.png">
            </a>
        </div>
    </div>
</div>
<div class="agency wrapper">
    <div class="agency background">
        <img class="main-pic" src="/public/assets/images/blackbg-flatfaces.jpg">
        <a href="/login/{{agencyAuthEndpoint}}">
            <button class="ui agency linkedin button"><i class="linkedin icon"></i> Agency Login with LinkedIn </button>
        </a>
    </div>
</div>
