<br>
{{{message}}}
<form action="/agencysignup" method="POST" class="ui form">
    <h1 class="ui dividing header">Agency sign up page</h1>
    <div class="two fields">
        <div class="required field">
            <label for="contactName"> Contact Name </label>
            <input type="text" name="contactName" pattern="{{frontendInput}}" title="no ankle brackets, square brackets or slashes" placeholder="Contact Name" value="{{name}}" required>
        </div>
        <div class="required field">
            <label for="companyName"> Company Name </label>
            <input type="text" name="companyName" pattern="{{frontendInput}}" title="no ankle brackets, square brackets or slashes" placeholder="Company Name" required>
        </div>
    </div>
    <div class="two fields">
        <div class="required field">
            <label for="contactNumber"> Contact Number </label>
            <input type="tel" name="contactNumber" placeholder="Contact Number" required>
        </div>
        <div class="required field">
            <label for="email"> Email </label>
            <input type="email" name="email" placeholder="Email address" required>
        </div>
    </div>
        <div class="six wide field">
            <label for="specialism"> Company Specialism </label>
            <select name="agencySpecialism" id="" required>
                <option value="analytics">Analytics</option>
                <option value="clientServices">Client Services</option>
                <option value="Creative">Creative</option>
                <option value="IT">IT</option>
                <option value="ITSecurity">IT Security</option>
                <option value="marketing">Marketing</option>
                <option value="mobile">Mobile</option>
                <option value="projectManagement">Project Management</option>
                <option value="socialMedia">Social Media</option>
            </select>
        </div>
        <div class="six wide field">
            <label for="companySize"> Company Size </label>
            <select name="companySize" id="" required>
                <option value="1-5">1-5</option>
                <option value="5-50">5-50</option>
                <option value="50-200">50-200</option>
                <option value="200-500">200-500</option>
                <option value="500+">500+</option>
            </select>
        </div>

    <input type="submit" value="Submit" class="ui green button">
</form>
