<h1 class="ui block header">Harness Talent  </h1>
<div class="ui divider"></div>
{{#if message}}
<h3 class="ui message">{{{message}}} </h3>
{{/if }}


<div class="overview-heading">

    <div class="ui stackable grid">
      <div class="three wide column text-overflow-element">
      {{#if data}}  <h4>Name</h4>{{/if }}
      </div>

      <div class="two wide column text-overflow-element">
        {{#if data}}<h4>Job Title</h4>{{/if }}
      </div>
      <div class="two wide column text-overflow-element">
        {{#if data}}<h4>Company</h4>{{/if }}
      </div>
      <div class="two wide column text-overflow-element text-centering">
        {{#if data}}<h4>Fee</h4>{{/if }}
      </div>
      <div class="three wide column text-overflow-element">
        {{#if data}} <h4>Interview Requested</h4>{{/if }}
      </div>
      <div class="four wide column text-overflow-element">
        <a href="/agency/submitcandidate"><button class="ui large blue button">Submit Candidate</button></a>
      </div>

    </div>
    <div class="ui divider"></div>
</div>

{{#each data}}
<div class="ui stackable grid listView client-list">
  <div class="three wide column">
      <p>{{candidateName}}</p>
  </div>
  <div class="three wide column">
    <p>{{jobTitle}}</p>
  </div>
  <div class="two wide column">
    <p>{{company}}</p>
  </div>
  <div class="two wide column">
    <p>{{fee}}</p>
  </div>
   <div class="two wide column">
    <p>{{fee}}</p>
  </div>
  <div class="two wide column">
    <p>{{dateSubmitted}}</p>
  </div>
  {{#if data}}
  <div class="two wide column client-button">
    <a href="#1">
      <button class="ui inverted tiny blue button">Request Interview</button>
    </a>
  </div>
  {{/if }}
</div>
<div class="ui divider"></div>
{{/each}}
