<h1 class="ui block header">Live Jobs</h1>
<div class="ui divider"></div>
{{#if message}}
<h3>{{{message}}} </h3>
{{/if }}
<div class="ui stackable grid listView">
    {{#each data}}
    <div class="ui five column row">
        <div class="ui column">
          <img class="ui tiny image company-logo" src="{{logo_url}}"/>
        </div>
        <div class="ui column">
            <p class="live-job-element">{{companyName}}</p>
        </div>
        <div class="ui column">
            <p class="live-job-element">{{jobTitle}}</p>
        </div>
        <div class="ui column">
            <p  class="live-job-element">{{salary}}</p>
        </div>
        <div class="ui column">
            <a href="/agency/job/{{vid}}" class="live-job-element">
                <button class="ui inverted blue button">View Job</button>
            </a>
        </div>
    </div>
    <div class="ui divider"></div>
    {{/each}}
</div>
