<h1 class="ui block header">Approve Users</h1>
<div class="ui divider"></div>
{{#if message}}
<h3>{{message}}</h3>
{{/if }}
<div class="ui stackable grid listView">
  {{#each data}}
    <div class="ui four column row">
          <div class="column">
              <h5>{{companyName}}</h5>
          </div>
          <div class="column">
              <h5>{{contactName}}</h5>
          </div>
          <div class="column">
            <a href="tel:{{contactNumber}}"><h5>{{contactNumber}}</h5></a>
          </div>
          <div class="column">
              <a href="mailto:{{email}}"><h5>{{email}}</h5></a>
          </div>
      </div>
      <div class="ui four column row">
          <div class="column">
              <h5>Sector</h5>
              <p>{{companySector}}</p>
          </div>
          <div class="column">
              <h5>Company Size</h5>
              <p>{{companySize}}</p>
          </div>
          <div class="column">
              {{#if website}}
              <h5>Company Website</h5>
              <a href="{{website}}"><p>{{website}}</p></a>
              {{/if }}
          </div>
          <div class="column">
              <a href="approveuser/approve/{{id}}/{{email}}">
                  <button class="ui inverted blue button">Approve</button>
              </a>
          </div>
      </div>
      <div class="ui four column row">
        <div class="column">
            {{#if twitter}}
            <h5>Twitter</h5>
            <p>{{twitter}}</p>
            {{/if }}
        </div>
        <div class="column">
            {{#if facebook}}
            <h5>Facebook</h5>
            <a href="{{facebook}}"><p>{{facebook}}</p></a>
            {{/if }}
        </div>
        <div class="column">
            {{#if linkedin}}
            <h5>LinkedIn</h5>
            <a href="{{linkedin}}"><p>{{linkedin}}</p></a>
            {{/if }}
        </div>
        <div class="column">
            <a href="approveuser/reject/{{email}}">
                <button class="ui inverted red button">Reject</button>
            </a>
        </div>
      </div>
      {{#if companyDescription}}
      <div class="ui one column row">
        <div class="column">
            <h5>Company Description</h5>
            <p>{{companyDescription}}</p>
        </div>
      </div>
      {{/if }}
  <div class="ui divider"></div>
  {{/each}}
</div>
