<h1>Client's Job Page</h1>

<ul>
    <li>{{data.jobTitle}}</li>
    <li>{{data.salary}}</li>
    {{#if data.dateSubmitted}}
    <li>{{data.dateSubmitted}}</li>
    {{/if}}
    <li>{{data.searchDeadline}}</li>
    <li>{{data.jobDescription}}</li>
    <li>{{data.teamCulture}}</li>
    {{#if data.jobCategory}}
    <li>{{data.jobCategory}}</li>
    {{/if}}
    <li>{{data.typesOfProjects}}</li>
    {{#if data.teamSize}}
    <li>{{data.teamSize}}</li>
    {{/if}}
    {{#if data.skillOne}}
    <li>{{data.skillOne}}</li>
    {{/if}}
     {{#if data.skillTwo}}
    <li>{{data.skillTwo}}</li>
    {{/if}}
     {{#if data.skillThree}}
    <li>{{data.skillThree}}</li>
    {{/if}}
    {{#if data.personality}}
    <li>{{data.personality}}</li>
    {{/if}}
</ul>
