<h1 class="ui block header">My Jobs</h1>
<div class="ui divider"></div>
{{#if message}}
<h3>{{{message}}} </h3>
{{/if }}

{{#if data}}
<div class="overview-heading">
    <div class="ui stackable grid">
      <div class="two wide column text-overflow-element">
        <h4>Job Title</h4>
      </div>
      <div class="two wide column text-overflow-element">
        <h4>Salary</h4>
      </div>
      <div class="three wide column text-overflow-element">
        <h4>Search Deadline</h4>
      </div>
      <div class="four wide column text-overflow-element text-centering">
        <h4>Interview Stage</h4>
      </div>
    </div>
    <div class="ui stackable grid scheduling-header-margin">
      <div class="seven wide column"></div>
       <div class="one wide column submitted-margin">
        <h5>Submitted</h5>
      </div>
      <div class="one wide column accepted-margin">
        <h5>Accepted  </h5>
      </div>
      <div class="one wide column">
        <h5>1st</h5>
      </div>
      <div class="one wide column">
        <h5>2nd</h5>
      </div>
      <div class="one wide column">
        <h5>Final</h5>
      </div>
    </div>
    <div class="ui divider"></div>
</div>

{{#each data}}
<div class="ui stackable grid listView client-list">
  <div class="two wide column">
      <p>{{jobTitle}}</p>
  </div>
  <div class="two wide column">
      <p>{{salary}}</p>
  </div>
  <div class="three wide column">
      {{#if searchDeadline}}  <!-- positioned inside column div so button alignment works -->
      <p>{{searchDeadline}}</p>
      {{/if }}
  </div>
    <div class="one wide column">
      {{#if submitted}}
      <p class="submitted-green">{{submitted}}</p>
      {{/if }}
      {{#unless submitted}}
      <p>0</p>
      {{/unless }}
  </div>
  <div class="one wide column">
      {{#if stage1Count}}
      <p>{{stage1Count}}</p>
      {{/if }}
      {{#unless stage1Count}}
      <p>0</p>
      {{/unless }}
  </div>
  <div class="one wide column">
      {{#if stage2Count}}
      <p>{{stage2Count}}</p>
      {{/if }}
      {{#unless stage2Count}}
      <p>0</p>
      {{/unless }}
  </div>
  <div class="one wide column">
      {{#if stage3Count}}
      <p>{{stage3Count}}</p>
      {{/if }}
      {{#unless stage3Count}}
      <p>0</p>
      {{/unless }}
  </div>
  <div class="one wide column">
      {{#if stage4Count}}
      <p>{{stage4Count}}</p>
      {{/if }}
      {{#unless stage4Count}}
      <p>0</p>
      {{/unless }}
  </div>
  <div class="two wide column client-button">
    <a href='/client/job/{{vid}}'>
      <button class="ui inverted tiny blue button">View</button>
    </a>
  </div>
  <div class="two wide column client-button">
    <a href='/client/job/remove/{{vid}}'>
      <button class="ui inverted tiny red button">Remove</button>
    </a>
  </div>
</div>
<div class="ui divider"></div>
{{/each}}
{{/if }}
