
{{> vacancy}}
{{#if cvs}}
<h2 class="header">Candidate Shortlist</h2>
<a href="/client/job/{{vid}}/scheduling">
    <button class="ui inverted blue button">Go to Scheduling</button>
</a>
{{/if }}

<div class="ui divider"></div>
<h3 class="message"></h3>
{{#each cvs}}

<div class="ui stackable grid listView" id="{{cvid}}">

    <div class="ui five column row">
        <div class="column text-overflow-element">
            <h5>{{candidateName}}</h5>
        </div>
        <div class="column text-overflow-element">
            {{rating rating}}
        </div>
        <div class="column text-overflow-element">
            <h5>{{salary}}</h5>
        </div>
        <div class="column">
            <a href="{{file_url}}" type="text" download><h5>Download CV</h5></a>
        </div>
        <div class="column">

                <button class="ui inverted blue button accept-button"
                 data-candidate-name="{{candidateName}}"
                 data-agency-email="{{agencyEmail}}"
                 data-cvid="{{cvid}}"
                 data-candidate-name="{{candidateName}}" 
                 data-job-title="{{jobTitle}}"   
                 data-vid="{{vid}}">
                   Accept
                 </button>

        </div>
    </div>
    <div class="ui five column row ">
        <div class="column text-overflow-element">
            <h5>{{jobTitle}}</h5>
        </div>
        <div class="column text-overflow-element">
            {{#if linkedInProfile}}
            <a href="{{linkedInProfile}}"><h5>{{linkedInProfile}}</h5></a> {{/if }}
        </div>
        <div class="column text-overflow-element">
            <a href="mailto:{{email}}"><h5>{{email}}</h5></a>
        </div>
        <div class="column text-overflow-element">
            <a href="tel:{{contactNumber}}"><h5>{{contactNumber}}</h5></a>
        </div>
        <div class="column">
            <button class="ui inverted red button reject-button"
            data-agency-email="{{agencyEmail}}"
            data-cvid="{{cvid}}"
            data-candidate-name="{{candidateName}}"
            data-vid="{{vid}}">
                Reject
            </button>
        </div>
    </div>
    <div class="ui divider"></div>
</div>
{{/each}}
<div class="ui first coupled modal reject-modal">
    <div class="header">
        Sorry to hear you want to reject this candidate...
    </div>
    <div class="content">
        <h5>What's the reason?</h5>
        <div class="grouped fields">
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="rejection-reason" checked="" tabindex="0" class="hidden" value="not_enough">
                    <label>Not enough experience</label>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="rejection-reason" tabindex="0" class="hidden" value="not_right">
                    <label>Experience not quite right</label>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="actions">
        <button id="" class="ui primary button modal-submit-rejection-button" type="button">Confirm rejection</button>
    </div>
</div>

<div class="ui small second coupled modal reject-modal">
    <div class="header">
        Rejection confirmed
    </div>
    <div class="content">
        <div class="description">
            <p>Sorry this candidate wasn't quite right, thanks for your feedback.</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">
            <i class="checkmark icon"></i> All Done
        </div>
    </div>
</div>

<div class="ui first coupled modal accept-modal">
    <div class="header">
        Great to hear you are interested in <span class="accept-candidateName"></span>
    </div>
    <div class="content">
        <h5>Click here to confirm your interest</h5>
    </div>
    <div class="actions">
        <div class="ui primary button modal-submit-acceptance-button">Confirm Acceptance </div>
    </div>

</div>

<div class="ui small second coupled modal accept-modal">
    <div class="header">
        Great Acceptance Confirmed!
    </div>
    <div class="content">
        <div class="description">
            <span class="accept-candidateName"></span> will now be viewable on your scheduling page!
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">
            <i class="checkmark icon"></i> All Done
        </div>
         <div class="ui basic button">
            <a href="/client/job/{{vid}}/scheduling" ><i class="calendar icon"></i> Scheduling</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/public/js/clientjob.js"></script>
