<div class="textCenter">
    <h1>My Jobs</h1>
    <h3>{{{message}}} </h3>
    <div class="ui form user">
        {{#each data}}
        <div class="ui inline fields">
            <div class="ui field">
                <label for="">Job Title</label>
                <p>{{jobTitle}}</p>
            </div>
            {{#if salary}}
            <div class="ui field">
                <label for="">Salary</label>
                <p>{{salary}}</p>
            </div>
            {{/if }}
            {{#if searchDeadline}}
            <div class="ui field">
                <label for="">Search Deadline</label>
                <p>{{searchDeadline}}</p>
            </div>
            {{/if }}
              <a href='/client/job/{{vid}}'>
                <button class="ui inverted blue button">View</button>
              </a>
              <a href='/client/job/remove/{{vid}}'>
                <button class="ui inverted blue button">Remove</button>
              </a>
        </div>
        {{/each}}
    </div>
</div>
