<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js" integrity="sha256-lCF+55kMUF+3fO/3BiXui4eiUKcQmtr7ecKSeLVDxIQ=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,400,800' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/harnesstalent.css">
    <script type="text/javascript" src="../public/js/datepicker.js"></script>
</head>

<body>
    <div class="ui container top-padding">
        <nav class="ui fixed inverted menu">
            <div class="ui container">
                <a class="item" href="/"><img height="28" class="large logo" src="https://cloud.githubusercontent.com/assets/13098199/14913438/fed406cc-0dfa-11e6-9a90-274a2f64c187.png"></a>
                <div class="right menu client-menus">
                    <a class="item" href="/client"><h4 class="header item">My Jobs</h4></a>
                    <a class="item" href="/submitjob"><h4 class="header item">Submit a job</h4></a>
                </div>
                <div class="right menu">
                    <a class="item" href="/harnesstalent"><h4 class="header item"> Harness Talent</h4></a>
                    <a class="item " href="/logout"><h4 class="header item">Logout</h4></a>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <h1 class="ui block header">Harness Talent</h1>
        <div class="ui divider"></div>
        <h3 class="ui message"></h3>
        <div class="searchbar">
            <div class="ui stackable grid">
            <div class="sixteen wide row saldayrate">
              <div class="nine wide column"></div>
              <div class="six wide column"> Salary or Day Rate</div>
            </div>
              <div class="row">
                <div class="column">
                    <button class="ui inverted mini orange button reset">Reset</button>
                </div>
                <div class=" one wide column">
                  <label for="company" class="name"></label>
                </div>
<!--                 <div class="two wide column ">
                  <label for="jobCategory"> Job Category </label>
                    <select name="jobCategory" class="ui dropdown jobcat">
                      <option value="All">All</option>
                      <option value="UX, UI & Digital Design.">UX, UI & Digital Design.</option>
                      <option value="BI, Data Science & Analytics">BI, Data Science & Analytics.</option>
                      <option value="Development">Development.</option> 
                      <option value="Infrastructure & Operations">Infrastructure & Operations.</option>
                      <option value="Project Management">Project Management.</option>
                      <option value="Change & Transformation">Change & Transformation.</option>
                      <option value="Leadership">Leadership.</option>
                      <option value="Digital Marketing">Digital Marketing.</option>
                      <option value="Product Management">Product Management.</option>
                      <option value="Sales & Business Development">Sales & Business Development.</option>
                    </select>
                </div> -->
                <div class="three wide column">
                  <label for="Job jobTitle">Job Title </label>
                    <select name="jobTitle" class="ui fluid dropdown" multiple="">
                          <option value="">All</option>
                          <option value="UX Designer">UX Designer</option>
                          <option value="UI Designer">UI Designer</option>
                          <option value="Information Architect">Information Architect</option>
                          <option value="UX Researcher">UX Researcher</option>
                          <option value="Digital Designer">Digital Designer</option>
                          <option value="UX Leadership">UX Leadership</option>
                          <option value="UI Leadership">UI Leadership</option>
                          <option value="Data Scientist">Data Scientist</option>
                          <option value="Data Analyst">Data Analyst</option>
                          <option value="Insight Analyst">Insight Analyst</option>
                          <option value="BI Analyst">BI Analyst</option>
                          <option value="BI Developer">BI Developer</option>
                          <option value="Business Analyst">Business Analyst</option>
                          <option value="BI Leadership">BI Leadership</option>
                      </select>
                </div>
                <div class=" two wide column ">
                  <div id="companies-container">                     
                  </div>          

                </div>
              
                <div class="two wide column ">
                  <label for="location"> Location </label>
                    <select name="location" class="ui dropdown location">
                        <option value="All">All</option>
                        <option value="London">London</option>
                        <option value="Bristol">Bristol</option>
                        <option value="Berlin">Berlin</option>
                    </select>
                </div>
                <div class=" column ">
                  <label for="salaryMin">Min </label>
                    <select name="salaryMin" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                        <option value="800">800</option>
                        <option value="900">900</option>
                        <option value="1000">1,000</option>
                        <option value="20000">20,000</option>
                        <option value="30000">30,000</option>
                        <option value="40000">40,000</option>
                        <option value="50000">50,000</option>
                        <option value="60000">60,000</option>
                        <option value="70000">70,000</option>
                        <option value="80000">80,000</option>
                        <option value="90000">90,000</option>
                        <option value="1000000">100,000</option>
                    </select>
                </div>
                 <div class="column ">
                   <label for="salaryMax">Max</label>
                    <select name="salaryMax" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                        <option value="800">800</option>
                        <option value="900">900</option>
                        <option value="1000">1,000</option>
                        <option value="30000">30,000</option>
                        <option value="40000">40,000</option>
                        <option value="50000">50,000</option>
                        <option value="60000">60,000</option>
                        <option value="70000">70,000</option>
                        <option value="80000">80,000</option>
                        <option value="90000">90,000</option>
                        <option value="100000">100,000</option>
                    </select>
                </div>
                <div class="column ">
                  <label for="contractType">Contract</label>
                    <select name="contractType" class="ui dropdown contract">
                        <option value="All">All</option>
                        <option value="permanent">Permanent</option>
                        <option value="contract">Contract</option>
                        <option value="both">Both</option>
                    </select>
                </div>
                <div class="column">
                    <button class="ui inverted tiny green button search">Search</button>
                </div>
              </div>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="overview-heading">

        <div id="candidates-container"></div>
    </div>

    <div class="ui basic doc-viewer modal">
        <i class="close icon"></i>
        <div class="header">
            To view in full screen and download, use the viewer button.
        </div>
        <div class="image content">
            <div class="image">
                <iframe id="iframeId" src='' width='850' height='566' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
            </div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
<script type="text/javascript" src="./public/js/bundle.js"></script>

<script type="text/javascript" src="../public/js/aws.js"></script>
<script type="text/javascript" src="../public/js/document-viewer.js"></script>
<script type="text/javascript" src="../public/js/harnesstalent.js"></script>
