<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js" integrity="sha256-lCF+55kMUF+3fO/3BiXui4eiUKcQmtr7ecKSeLVDxIQ=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,400,800' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/harnesstalent.css">
    <script type="text/javascript" src="../public/js/datepicker.js"></script>
</head>

<body>
    <div class="ui container top-padding">
        <nav class="ui fixed inverted menu">
            <div class="ui container">
                <a class="item" href="/"><img height="28" class="large logo" src="https://cloud.githubusercontent.com/assets/13098199/14913438/fed406cc-0dfa-11e6-9a90-274a2f64c187.png"></a>
                <div class="right menu client-menus">
                    <a class="item" href="/client"><h4 class="header item">My Jobs</h4></a>
                    <a class="item" href="/submitjob"><h4 class="header item">Submit a job</h4></a>
                </div>
                <div class="right menu">
                    <a class="item" href="/harnesstalent"><h4 class="header item"> Harness Talent</h4></a>
                    <a class="item " href="/logout"><h4 class="header item">Logout</h4></a>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <h1 class="ui block header">Harness Talent</h1>
        <div class="ui divider"></div>
        <h3 class="ui message"></h3>
        <div class="searchbar">
            <div class="ui stackable grid">
                <div class="column">
                    <button class="ui inverted tiny orange button reset">Reset</button>
                </div>
                <div class="two wide column drop1">
                  <label for="company" class="jobtitl"> Job Title </label>
                    <select name="jobTitle" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="Developer">Developer</option>
                        <option value="Senior Developer">Senior Developer</option>
                        <option value="Lead Developer">Lead Developer</option>
                    </select>
                </div>
                <div class=" two wide column drop2">
                  <label for="company" class="company"> Company </label>
                    <select name="company" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="Ford">Ford</option>
                        <option value="Apple">Apple</option>
                        <option value="Mustang">Mustang</option>
                    </select>

                </div>
                <div class="two wide column drop3">
                  <label for="company" class="jobcat"> Job Category </label>
                    <select name="jobCategory" class="ui dropdown">
                          <option value="All">All</option>
                          <option class="header">UX, UI & Digital Design</option>
                          <option value="UX Designer">UX Designer</option>
                          <option value="UI Designer">UI Designer</option>
                          <option value="Information Architect">Information Architect</option>
                          <option value="UX Researcher">UX Researcher</option>
                          <option value="Digital Designer">Digital Designer</option>
                          <option value="UX Leadership">UX Leadership</option>
                          <option value="UI Leadership">UI Leadership</option>
                          <option class="header">BI, Data Science & Analytics</option>
                          <option value="Data Scientist">Data Scientist</option>
                          <option value="Data Analyst">Data Analyst</option>
                          <option value="Insight Analyst">Insight Analyst</option>
                          <option value="BI Analyst">BI Analyst</option>
                          <option value="BI Developer">BI Developer</option>
                          <option value="Business Analyst">Business Analyst</option>
                          <option value="BI Leadership">BI Leadership</option>
                    </select>
                </div>
                <div class="two wide column drop4">
                  <label for="company"> Location </label>
                    <select name="location" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="London">London</option>
                        <option value="Bristol">Bristol</option>
                        <option value="Berlin">Berlin</option>
                    </select>
                </div>
                <div class=" two wide column drop5">
                  <label for="company"> Salary Min </label>
                    <select name="salaryMin" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="20000">20,000</option>
                        <option value="30000">30,000</option>
                        <option value="40000">40,000</option>
                        <option value="50000">50,000</option>
                        <option value="60000">60,000</option>
                        <option value="70000">70,000</option>
                        <option value="80000">80,000</option>
                        <option value="90000">90,000</option>
                        <option value="1000000">100,000</option>
                    </select>
                </div>
                 <div class="two wide column drop6">
                   <label for="company"> Salary Max</label>
                    <select name="salaryMax" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="30000">30,000</option>
                        <option value="40000">40,000</option>
                        <option value="50000">50,000</option>
                        <option value="60000">60,000</option>
                        <option value="70000">70,000</option>
                        <option value="80000">80,000</option>
                        <option value="90000">90,000</option>
                        <option value="100000">100,000</option>
                    </select>
                </div>
                <div class="two wide column drop7">
                  <label for="company"> Contract Type </label>
                    <select name="contractType" class="ui dropdown">
                        <option value="All">All</option>
                        <option value="permanent">Permanent</option>
                        <option value="contract">Contract</option>
                        <option value="both">Both</option>
                    </select>
                </div>
                <div class="column">
                    <button class="ui inverted tiny green button search">Search</button>
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="overview-heading">

        <div id="candidates-container"></div>
    </div>

    <div class="ui basic doc-viewer modal">
        <i class="close icon"></i>
        <div class="header">
            To view in full screen and download, use the viewer button.
        </div>
        <div class="image content">
            <div class="image">
                <iframe id="iframeId" src='' width='850' height='566' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
            </div>
        </div>
    </div>

</body>

</html>
<script id="candidates-template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="ui stackable grid listView client-list">
        <div class="column">
            <button class="tiny ui inverted teal icon button cv-viewer" data-agency-email="{{agencyEmail}}" data-agency-id="{{agencyId}}" data-cvid="{{cvid}}" data-candidate-name="{{candidateName}}" data-job-title="{{jobTitle}}" data-vid="{{vid}}" data-file-name="{{file-name}}"
                data-content="We can only preview pdf files" data-url='{{file_url}}'>CV Viewer</button>
        </div>
        <div class="two wide column">
            <p>{{candidateName}}</p>
        </div>
        <div class="two wide column">
            <p>{{jobTitle}}</p>
        </div>
        <div class="two wide column">
            <p>{{company}}</p>
        </div>
        <div class="two wide column">
            <p>{{jobCategory}}</p>
        </div>
        <div class="two wide column">
            <p>{{location}}</p>
        </div>
        <div class="two wide column">
            <p>{{salary}}</p>
        </div>
        <div class="two wide column">
            <p>{{contractType}}</p>
        </div>
        <div class="column client-button">
            <button class="ui inverted tiny blue button interviewRequest " data-cvid="{{cvid}}">Request Interview</button>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui  modal interview hide-element" id="{{cvid}}">

        <i class="close icon"></i>
        <div class="header">
            Arrange an Interview for: &nbsp {{candidateName}}
        </div>
        <div class="ui content">
            <div class=" sixteen column row  ">
            <form class="ui form " name="{{cvid}}">
                    <input type="hidden" name="candidateName" value="{{candidateName}}">
                    <input type="hidden" name="cvid" value="{{cvid}}">
                    <input type="hidden" name="vid" value="{{vid}}">
                    <input type="hidden" name="agencyId" value="{{agencyId}}">
                    <input type="hidden" name="jobTitle" value="{{jobTitle}}">
                    <h4 class="ui dividing header"> Proposed time, date and location</h4>
                    <h4 class="message"></h4>

                    <div class="inline fields">
                        <div class="required sixteen wide field">
                            <label for="firstIntTime"> 1st Choice Date & Time </label>
                            <div class="five wide field">
                                <input name="firstIntDate" class="datepicker" required>
                            </div>
                            <div class="field">
                                <input name="firstIntTime" type="time" required></input>
                            </div>
                        </div>
                    </div>

                    <div class="inline fields">

                        <label for="secondIntTime"> 2nd Choice Date & Time </label>
                        <div class="five wide field">
                            <input name="secondIntDate" class="datepicker">
                        </div>
                        <div class="field">
                            <input name="secondIntTime" type="time"></input>
                        </div>
                    </div>

                    <div class="inline fields">
                        <label for="thirdIntTime"> 3rd Choice Date & Time</label>
                        <div class="five wide field">
                            <input name="thirdIntDate" class="datepicker">
                        </div>
                        <div class=" field ">
                            <input name="thirdIntTime" type="time"></input>
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="required eight wide field">
                            <label>Full Interview Address:</label>
                            <div class="required eight wide inline field">

                                <input type="text" id="interviewAddress" name="interviewAddress" placeholder="Buckingham Palace, London SW1A 1AA " required></input>
                            </div>
                        </div>
                    </div>

                    <div class=" sixteen column row">
                        <div class="inline field">
                          <label>Upload job description.</label>
                            <div class="field">
                              <input name="jobDescription" type="file" class="file_input" />
                              <input type="hidden" class="file_url" name="jobDescription_url" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="inline field">
                      <label>Aditional comments</label>
                          <div class="eight wide field">
                            <textarea name="additionalComments" value="" width="500px" rows="3" maxlength="2000" placeholder="e.g. bring portfolio, interview will be one hour, etc." pattern="{{frontendInput}}"></textarea>
                          </div>
                    </div>


                  <div class="actions">
                    <button type="submit" class="ui green large button send-interview" data-candidate-name="{{candidateName}}" data-job-title="{{jobTitle}}" data-cvid="{{cvid}}">Send</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
    {{/each }}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>

<script type="text/javascript" src="../public/js/document-viewer.js"></script>
<script type="text/javascript" src="../public/js/harnesstalent.js"></script>
