<html>

<head>
    <meta charset="utf-8"> {{> title}} {{> config}}
</head>

    <div class="ui large fixed top menu home-navbar">
        <div class="ui container">
            <div class="right menu">
                <h1 class="ui huge header">[H]arness</h1>
            </div>
            <div class="right menu">
                <a href="/login/client">
                    <button class="ui linkedin button"><i class="linkedin icon"></i>Client Login</button>
                </a>
                <a href="/login/candidate">
                    <button class="ui linkedin button"><i class="linkedin icon"></i>Candidate Login</button>
                </a>
            </div>
        </div>
    </div>
   <div class="ui mian container">
    <div class="ui text container">
        <h1 class="ui inverted header">
        Imagine-a-Company
      </h1>
        <h2><strong>Tech Talent Search, Evolved - </strong> Harness connects hiring companies with top tech talent by crowd sourcing candidates through multiple specialist recruitment agencies and their professional networks.
        <strong>Harness</strong> improves the recruitment experience for the client, candidate and agency.</h2>
        <div class="">FIND OUT MORE <i class="down arrow icon"></i></div>
    </div>
</div>

</html>
