<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js" integrity="sha256-lCF+55kMUF+3fO/3BiXui4eiUKcQmtr7ecKSeLVDxIQ=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,400,800' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>
<style type="text/css">
body {
    margin: 0;
    background: #000;
    font-family: helvetica;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    opacity: 0.5;
}

.home-page {
    font-size: 1.5em !important;
    /*     position: fixed;
 */
}

.home-page a {
    color: white !important;
}

.home-page-logo {
    font-weight: 800 !important;
    font-family: helvetica;
    font-size: 4em;
    margin: 2em;
    padding: 0 1em !important;
}

.intro {
    padding-top: 15em;
    padding-bottom: 15em;
}

.intro h1,
.intro h4 {
    color: white !important;
}

.intro h1 {
    font-size: 6em !important;
}

.intro h4,
.testimonials h4 {
    font-size: 2em !important;
}

.testimonials h4 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.aboutUs p,
.products p {
    font-size: 1.5em;
}

.aboutUs p,
.aboutUs div,
.products p,
.products div {
    text-align: left;
    color: white;
}

.products h1 {
    font-size: 4em;
    font-weight: 100;
    color: white;
    margin: 0;
    text-align: center;
}

.products p {
    margin: 1em !important;
}

.products {
 
    padding: 1em;
}

.products.grid {

    padding: 2em;
}

.whyharness {
    color: white;
    text-align: center;
    padding-top: 1em;
}

#whyharness {
    padding-top: 2em;
}

.container {
    margin: 1em;
}

.harnessBlue {
    background-color: #15ABC8;
}

#contactUs, #products, #aboutUs {
    background-color: #1B1C1F!important;
    color:white;
    padding-top: 1em;
    padding-bottom: 1em;
}
#testimonials{
    background-color: #00B5AE!important;
    padding-bottom: 1em;

}

#products {
    background-image: url('../assets/images/london-view.jpg');
    background-image: cover;
    background-size: 100% 60em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: black;
}

.productsWord {
    position: absolute;
    bottom: 50%;
    right:27%;
}

.productNumber {
    font-size: 6em !important;
    font-weight: 800;
    color: #ce1010 !important;
    opacity: 0.75;
}

.productsContent {
    position: relative;

}
</style>

<body>
    <video autoplay id="the-video" preload="" loop>
        <source src="../assets/videos/high_five.mov">
        <!--   <source src="your-movie_Ogg.ogv">
<source src="your-movie_WebM.webm"> -->
    </video>
    <div class="ui secondary fixed menu home-page">

        <a class="item home-page-logo"><img src="../assets/images/whiteLogo.png"></a>
        <div class="right menu">
            <a href="#/" class="ui item">Home</a>
            <a href="#aboutUs" class="ui item">About Us</a>
            <a href="#products" class="ui item">Our Products</a>
            <a href="#whyHarness" class="ui item">Why Harness?</a>
            <a  href="./recruiter.html" class="ui item">I'm a recruiter</a>
        </div>
    </div>

    <section id="banner">
        <div class="ui page grid">
            <div class="row">
                <div class="intro">
                    <h1>
                        Find your human.
                    </h1>
                    <div class="hidden divider"></div>
                    <h4>Harness is the newest, most effective hiring tool to access the top 5% of qualified, available tech talent in the market, all in the click of a button.</h4>
                    <a href="#" class="ui massive basic teal  button">I'm hiring</a>
                    <a href="#" class="ui massive teal button">I'm candidate</a>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="ui container">
            <div class="ui equal width center aligned padded grid">
                <div class="row teal testimonials">
                    <div class="twelve wide centered column">
                        <h4>"When first hearing about Harness I was instantly excited to finally see an innovative product come to the market to support the changing times in talent acquisition."</h4>
                        <strong>Talent Manager, Buzzfeed</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutUs">
            <div class="ui container">
            <div class="ui equal width center aligned padded grid">
                <div class="row aboutUs black">
                    <div class="column">
                        <img src="../assets/images/blackbg-flatfaces.jpg">
                    </div>
                    <div class="column">
                        <div class="ui large grey header">ABOUT US</div>
                        <div class="ui huge inverted header">Algorythm meets Human Rythm</div>
                        <p>We combine the expert eye of in-industry experts (Human Rythm), with the analytics of data science (Algorithm) to ensure you get the very best candidates - passive and actively looking</p>
                        <p>As designers, developers, IT professionals and recruiters, we got fed up with how hard it is to quickly access the very best tech & digital candidates in the market.</p>
                        <p>So, two brothers and pretty goood looking Product Designer decided it was time to put it right; so we created Harness, to help Agencies, Hiring Clients and Candidates work better together; saving time, money and effort for all involved.</p>
                        <p>It's a hiring solution for the digital economy.</p>
                    </div>
                </div>
            </div> 
            </div>      
    </section>
    <section id="products">
        <div class="ui container">
            <div class="ui equal width center aligned padded products grid">
                <div class="row">
                    <div class="introduction">
                        <h1>Our products:</h1>
                        <h1>changing the game</h1>
                    </div>
                </div>
                <div class="row">
                    <h2 class="ui inverted header">Harness Hire</h2>
                    <p>Our premium product, Harness Hire allows you to enter details of who you need to hire, hit “Submit” and simply sit back and relax while we do the hard work. We will identify, qualify and select the best candidates from 1000’s of professional networks globally. Because we have some of the best, specialist boutique recruiters working for us, you will see those passive, and actively looking candidates – something normal hiring tools cannot do. Simply click to interview, let’s us do the rest.</p>
                </div>
                <div class="row">
                    <h2 class="ui inverted header">Harness Talent</h2>
                    <p>Not sure who you need to hire, but would like to see what the very best have to offer? Harness Talent allows you to search a curated list of elite candidates – all of which are qualified, available to interview and have proven track records of delivery. Simply click to interview and only pay for those candidates you hire!</p>
                </div>
                <div class="row">
                    <div class="column productsContent">
                        <h1 class="ui massive inverted header productNumber">1</h1>
                        <span class="ui massive inverted header productsWord">DATA SCIENCE</span>
                    </div>
                    <div class="column productsContent">
                        <h1 class="ui massive inverted header productNumber">2</h1>
                        <span class="ui massive inverted header productsWord">UX & DIGITAL DESIGN</span>
                    </div>
                    <div class="column productsContent">
                        <h1 class="ui massive inverted header productNumber">3</h1>
                        <span class="ui massive inverted header productsWord">PRODUCT MANAGEMENT</span>
                    </div>
                </div>
                <div class="row">
                     <div class="column productsContent">
                        <h1 class="ui massive inverted header productNumber">4</h1>
                        <span class="ui massive inverted header productsWord">BUSINESS INTELLIGENCE</span>
                    </div>
                    <div class="column productsContent">
                        <h1 class="ui massive inverted header productNumber">5</h1>
                        <span class="ui massive inverted header productsWord">DEVELOPMENT</span>
                    </div>
                    <div class="column productsContent">
                        <h1 class="ui massive inverted header productNumber">6</h1>
                        <span class="ui massive inverted header productsWord">PROJECT MANAGEMENT</span>
                    </div>
                </div>
                <div class="row">
                    <a href="#" class="ui huge teal button">GET IN TOUCH</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="ui stackable teal grid ">
            <div class="row centered teal">
                <h1 class="ui inverted header" id="whyHarness"> WHY HARNESS?</h1>
            </div>
            <div class="nine column row teal">
                <div class="ui container">
                    <div class="two wide column">
                        <img class="ui tiny right floated image" src="../assets/images/harness-easier-01.svg">
                    </div>
                    <div class="left aligned fourteen wide column">
                        <h3 class="ui  ">EASIER</h3>
                        <p>All you do is enter who you need. Literally, that's it. No endless cold calls, multiple recruiter briefings, candidate chasing, sending 100's of LinkedIn messages, trawling through CV boards... </p>
                    </div>
                </div>
            </div>
            <div class="row teal">
                <div class="ui container">
                    <div class="two wide column">
                        <img class="ui tiny right floated image" src="../assets/images/harness-quicker-01.svg">
                    </div>
                    <div class="left aligned fourteen wide column">
                        <h3 class="ui ">QUICKER</h3>
                        <p>Harness requires you to do nothing but review high quality, relevant and available CV's in one simple place. Zero admin. We cut through the nonsense of recruiting, and free you up to do important stuff! </p>
                    </div>
                </div>
            </div>
            <div class="row teal">
                <div class="ui container">
                    <div class="two wide column">
                        <img class="ui tiny right floated image" src="../assets/images/harness-quality-01.svg">
                    </div>
                    <div class="left aligned fourteen wide column">
                        <h3>QUALITY</h3>
                        <p>Where else can you guarantee every inch of the market has been scouteal for the best tech talent? Our exclusive, curated network means no stone goes unturned in finding you the perfect candidate. </p>
                    </div>
                </div>
            </div>
            <div class="row teal">
                <div class="ui container">
                    <div class="two wide column">
                        <img class="ui tiny right floated image" src="../assets/images/harness-flexible-01.svg">
                    </div>
                    <div class="left aligned fourteen wide column">
                        <h3>FLEXIBLE</h3>
                        <p>Don't need to hire this month? Then don't pay! We only charge you when you need us. Think of us as your super in-house recruiter, we're there when you need us. Otherwise, we'll just be chilling.</p>
                    </div>
                </div>
            </div>
            <div class="row teal">
                <div class="ui container">
                    <div class="two wide column">
                        <img class="ui tiny right floated image" src="../assets/images/harness-funer-01.svg">
                    </div>
                    <div class="left aligned fourteen wide column">
                        <h3>FUN-ER</h3>
                        <p>That's right, recruitment can be fun! We allow you to focus on the fun and important parts of hiring; meeting, greeting and qualifying the future employees of your business! No boring bits. Guaranteed. </p>
                    </div>
                </div>
            </div>
            <div class="row teal">
                <div class="ui container">
                    <div class="two wide column">
                        <img class="ui tiny right floated image" src="../assets/images/harness-value-01.svg">
                    </div>
                    <div class="left aligned fourteen wide column">
                        <h3>VALUE</h3>
                        <p>Recruiting the top 5% top tech talent doesn't have to cost the earth, we make sure of it. 90% of what you pay us only happens when you find the candidate you love! OMG. No seriously, it's true.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contactUs">
    
        <div class="ui container">
            <div class="ui grid">
            <div class="row">
            <div class="six wide column">
                <div class="contactDetails">
                    <p>Name: Ben Briely</p>
                    <p>Address some where</p>
                    <p>Mobile</p>
                    <p>Email</p>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui inverted segment">
                    <div class="ui inverted form">
                        <div class="two fields">
                            <div class="field">
                                <label>First Name</label>
                                <input placeholder="First Name" type="text">
                            </div>
                            <div class="field">
                                <label>Last Name</label>
                                <input placeholder="Last Name" type="text">
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I agree to the terms and conditions</label>
                            </div>
                        </div>
                        <div class="ui submit button">Submit</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>
