<h1 class="ui block header">Interview Confirmation Page</h1>
<div class="ui divider"></div>
<div class="ui grid interview" data-appointment-id="{{appointmentId}}">
	<div class="ui four wide column" >
		<h3>{{candidateName}}</h3>
	</div>
	<div class="ui four wide column">
		<a href="tel:{{contactNumber}}"><h3>{{contactNumber}}</h3></a>
	</div>
	<div class="ui eight wide column">
		<a href="emailto:{{email}}"><h3>{{email}}</h3></a>
	</div>
	<div class="ui four wide column">
		<h3>{{companyName}}</h3>
	</div>
	<div class="ui four wide column">
		<h3>{{jobTitle}}</h3>
	</div>
	<div class="ui eight wide column">
		<h3>{{interviewAddress}}</h3>
	</div>
	<div class="ui sixteen wide column">
		<h4>Additional Comments:</h4><p> {{additonalComments}}</p>
	</div>
	<div class="ui sixteen wide column">
		<h4>Please confirm which time is best for your candidate.</h4>
	</div>
	<div class="ui four wide column">
		 <h3>{{firstIntTime}}</h3>
	</div>
	<div class="ui four wide column">
		<h3>{{firstIntDate}}</h3>
	</div>
	<div class="ui eight wide column">
		<div class="ui small inverted blue button confirm-time"
			 data-confirmed-time="{{firstInTime}}"
			 data-confirmed-date="{{firstIntDate}}"
		>Confirm</div>
	</div>
	{{#if secondIntTime}}
	<div class="ui four wide column">
		 <h3>{{secondIntTime}}</h3>
	</div>
	<div class="ui four wide column">
		<h3>{{secondIntDate}}</h3>
	</div>
	<div class="ui eight wide column">
		<div class="ui small inverted blue button confirm-time"
				data-confirmed-time="{{secondInTime}}"
			 	data-confirmed-date="{{secondIntDate}}"
		>Confirm</div>
	</div>
	{{/if}}
	{{#if thirdIntTime}}
	<div class="ui four wide column">
		 <h3>{{firstIntTime}}</h3>
	</div>
	<div class="ui four wide column">
		<h3>{{firstIntDate}}</h3>
	</div>
	<div class="ui eight wide column">
		<div class="ui small inverted blue button confirm-time"
					data-confirmed-time="{{thirdInTime}}"
			 		data-confirmed-date="{{thirdIntDate}}"
		>Confirm</div>
	</div>
	{{/if}}
	<div class="ui twelve wide column">
		<div class="ui inverted small red button another-time"
		data-interview-address="{{interviewAddress}}"
		data-additional-comments"{{additionalComments}}"
		>Suggest Another Time</div>
	</div>
</div>
{{> savechanges}}
{{> create-appointment}}

<script type="text/javascript" src="/public/js/interview.js"></script>