<h1 class="ui block header">Interview Confirmation Page</h1>
<div class="ui divider"></div>
<div id="message">{{message}}</div>
<div class="ui vertically divided grid interview" data-interview-id="{{interviewId}}">
	<div class="row">
		<div class="ui four wide column" >
			<h3>Candidate Contact Details:</h3>
		</div>
		<div class="ui four wide column">
			<p> {{candidateName}}</p>
		</div>
		<div class="ui four wide column">
			<a href="tel:{{email}}"><p>{{contactNumber}}</p></a>
		</div>
		<div class="ui four wide column">
			<a href="tel:{{email}}"><p>{{email}}</p></a>
		</div>
	</div>
	<div  class="row">
		<div class="ui four wide column" >
			<h3>Agent Contact Details:</h3>
		</div>
		<div class="ui four wide column">
			<p>{{agencyCompanyName}}</p>
		</div>
		<div class="ui eight wide column">
		<!-- 	<a href="emailto:{{email}}"><h3>{{agencyEmail}}</h3></a> -->
		</div>
	</div>
	<div class="row">
		<div class="ui three wide column">
			<h3>Interview Details:</h3>
		</div>
		<div class="ui three wide column">
			<p>{{clientCompanyName}}</p>
		</div>
		<div class="ui three wide column">
			<p>{{jobTitle}}</p>
		</div>
		<div class="ui three wide column">
			<p>{{interviewAddress}}</p>			
		</div>	
	</div>
	
	<div class="row">
	<div class="ui sixteen wide column">
		<h3>Additional Comments:</h3><h3 class="additionalComments"> {{additionalComments}}</h3>
	</div>
    </div>
    <div class="row">
		<div class="ui three wide column">
			<h3>Vacany Details:</h3>
		</div>
		<div class="ui two wide column">
			<p>{{jobTitle}}</p>
		</div>
		<div class="ui two wide column">
			<p>{{salary}}</p>
		</div>
		<div class="ui four wide column">
			<p>{{jobLocation}}</p>
		</div>
		{{#if jobDescription_url}}
		<div class="ui two wide column">
			 <button class="mini ui inverted teal icon button doc-viewer" data-vid="{{vid}}" data-file-name="{{file-name}}"
               data-url='{{jobDescription_url}}'>View Job Description</button>
               <br>
               <br>
             <a href="{{jobDescription_url}}" type="text" download><button class="mini ui inverted teal icon button doc-viewer">Download</button></a>
		</div>
		{{/if }}
		{{#if contractType}}
		<div class="ui two wide column">
			<p>{{contractType}}</p>
		</div>
		{{/if }}
	</div>
    <div class="row">
	<div class="ui sixteen wide column">
		<h3>Please confirm which time is best for your candidate.</h3>
	</div>
	<div class="ui four wide column">
		 <p class="firstIntTime ">{{firstIntTime}}</p>
	</div>
	<div class="ui four wide column">
		<p class="firstIntDate">{{firstIntDate}}</p>
	</div>
	<div class="ui eight wide column">
		<div class="ui small inverted blue button confirm-time"
			 data-confirmed-time="{{firstIntTime}}"
			 data-confirmed-date="{{firstIntDate}}"
			 data-interview-id="{{interviewId}}"
		>Confirm</div>
	</div>
	{{#if secondIntTime}}
	<div class="ui four wide column">
		 <p class="secondIntTime">{{secondIntTime}}</p>
	</div>
	<div class="ui four wide column">
		<p class="secondIntDate">{{secondIntDate}}</p>
	</div>
	<div class="ui eight wide column">
		<div class="ui small inverted blue button confirm-time"
				data-confirmed-time="{{secondIntTime}}"
			 	data-confirmed-date="{{secondIntDate}}"
			 	data-interview-id="{{interviewId}}"
		>Confirm</div>
		
	</div>
	{{/if}}
	{{#if thirdIntTime}}
	<div class="ui four wide column">
		 <p class="thirdIntTime">{{thirdIntTime}}</p>
	</div>
	<div class="ui four wide column">
		<p class="thirdIntDate">{{thirdIntDate}}</p>
	</div>
	<div class="ui eight wide column">
		<div class="ui small inverted blue button confirm-time"
					data-confirmed-time="{{thirdInTime}}"
			 		data-confirmed-date="{{thirdIntDate}}"
			 		data-interview-id="{{interviewId}}"
		>Confirm</div>
	</div>
	{{/if}}
	</div>
	<div class="ui twelve wide column">
		<div class="ui inverted small red button another-time"
		data-interview-address="{{interviewAddress}}"
		data-additional-comments="{{additionalComments}}"
		data-interview-id="{{interviewId}}"
		data-candidate-name="{{candidateName}}"
		data-job-title= "{{jobTitle}}"
		>Suggest Another Time</div>
	</div>
</div>
<div class="ui basic doc-viewer modal">
    <i class="close icon"></i>
    <div class="header">
        To view in full screen and download, use the viewer button.
    </div>
    <div class="image content">
        <div class="image">
            <iframe id="iframeId" src='' width='850' height='566' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
        </div>
    </div>
</div>
{{> savechanges}}
{{> create-interview}}
<script type="text/javascript" src="/public/js/document-viewer.js"></script>
<script type="text/javascript" src="/public/js/interview.js"></script>