<h1 class="ui block header" data-company-name="{{companyName}}">{{companyName}} - {{jobTitle}} Vacancy Scheduling</h1>
<div class="ui grid">
  <div class="ui four wide column">

    <button class="ui inverted blue button" id="go-back" data-url="/client/job/{{vid}}">Go Back</button>
  </div>
  <div class="ui eight wide column">
    <h3 id="message"></h3>
  </div>
</div>

<div class="ui divider"></div>

{{#unless data}}
<h3 class="ui header">Doesn't look like there's any accepted candidates right now... Go back and accept some <a href="/client/job/{{vid}}">here!</a></h3>
{{/unless}}

{{#if data}}
<div class="overview-heading">
    <div class="ui stackable grid">
      <div class="three wide column text-overflow-element">
        <h4>Name</h4>
      </div>
      <div class="two wide column text-overflow-element">
        <h4>Salary</h4>
      </div>
      <div class="three wide column text-overflow-element">
        <h4>Current Job Title</h4>
      </div>
      <div class="four wide column text-overflow-element text-centering">
        <h4>Interview Stage</h4>
      </div>
      <div class="two wide column">
        <h4>Rating</h4>
      </div>
      <div class="three wide column">
      </div>
    </div>
    <div class="ui stackable grid application-stages scheduling-header-margin">
      <div class="eight wide column"></div>
      <div class="one wide column accepted">
        <h5 class="">Accepted</h5>
      </div>
      <div class="one wide column">
        <h5>1st</h5>
      </div>
      <div class="one wide column">
        <h5>2nd</h5>
      </div>
      <div class="one wide column">
        <h5>Final</h5>
      </div>
    </div>
    <div class="ui divider"></div>
</div>

{{#each data}}
<div class="ui stackable grid listView" id="{{cvid}}" data-candidate-name='{{candidateName}}' data-agency-email="{{agencyEmail}}" data-agency-id="{{agencyId}}" data-vid="{{vid}}" data-job-title="{{jobTitle}}" >
  <div class="three wide column text-overflow-element">
     <h5>{{candidateName}}  <a href="{{file_url}}" type="text" download>(CV)</a></h5>
  </div>
  <div class="two wide column text-overflow-element">
    <h5>{{salary}}</h5>
  </div>
  <div class="three wide column text-overflow-element">
    <h5>{{jobTitle}}</h5>
  </div>
  <div class="one wide column">
    <div class="ui radio checkbox">
      <input type="radio" name="{{cvid}}" data-stage="stageOne" data-cvid="{{cvid}}" {{stageOne stage}} >
      <label></label>
    </div>
  </div>
  <div class="one wide column">
    <div class="ui radio checkbox">
      <input type="radio" name="{{cvid}}" data-stage="stageTwo" data-cvid="{{cvid}}" {{stageTwo stage}}>
      <label></label>
    </div>
  </div>
  <div class="one wide column">
    <div class="ui radio checkbox">
      <input type="radio" name="{{cvid}}" data-stage="stageThree" data-cvid="{{cvid}}"{{stageThree stage}}>
      <label></label>
    </div>
  </div>
  <div class="one wide column">
    <div class="ui radio checkbox">
      <input type="radio" name="{{cvid}}" data-stage="stageFour" data-cvid="{{cvid}}" {{stageFour stage}}>
      <label></label>
    </div>
  </div>
  <div class="two wide column">
    {{rating rating}}
  </div>
  <div class="two wide column">

      <button
        data-cvid="{{cvid}}"
        data-vid="{{vid}}"
        data-candidate-name="{{candidateName}}"
        data-current-stage = "{{stage}}"
        data-agency-email ="{{agencyEmail}}"
        data-agency-id ="{{agencyId}}"
        class="ui inverted red button reject-button">Reject</button>

  </div>
 </div>
<div class="ui divider"></div>
{{/each }}

{{> rejectcandidatemodal}}
{{> create-interview}}
{{> savechanges}}

{{/if }}
<script type="text/javascript" src="/public/js/scheduling.js"></script>
