<h1 class="ui block header" data-company-name="{{companyName}}">{{companyName}} - {{jobTitle}} Vacancy Scheduling</h1>
<div class="ui grid">
    <div class="ui four wide column">
        <button class="ui inverted blue button" id="go-back" data-url="/client/job/{{vid}}">Go Back</button>
    </div>
    <div class="ui eight wide column">
        <h3 id="message"></h3>

    </div>
    <div class="two wide column">
      <a href="/scheduling/pendinginterviews"><button class="ui inverted green button">Interviews Currently Pending</button></a>
    </div>
</div>
<div class="ui divider"></div>
{{#unless data}}
<h3 class="ui header">Doesn't look like there's any accepted candidates right now...</h3> {{/unless}} {{#if data}}
<div class="overview-heading">  <!-- This the headings  -->
    <div class="ui stackable grid">
        <div class="three wide column text-overflow-element">
            <h4>Name</h4>
        </div>
        <div class="two wide column text-overflow-element">
            <h4>Salary</h4>
        </div>
        <div class="three wide column text-overflow-element">
            <h4>Agency Email</h4>
        </div>
        <div class="four wide column text-overflow-element text-centering">
            <h4>Interview Stage</h4>
        </div>
        <div class="two wide column">
            <h4>Rating</h4>
        </div>
        <div class="three wide column">
        </div>
    </div>
    <div class="ui stackable grid application-stages scheduling-header-margin">
        <div class="eight wide column"></div>
        <div class="one wide column accepted">
            <p class="accepted">Accepted</p>
        </div>
        <div class="one wide column">
            <p>1st</p>
        </div>
        <div class="one wide column">
            <p>2nd</p>
        </div>
        <div class="one wide column">
            <p>Final</p>
        </div>
    </div>
    <div class="ui divider"></div>
</div>

<div class="ui stackable vertically divided grid listView" >
{{#each data}}  <!-- his is the data rows  -->
    <div class="row " id ="{{cvid}}row">
        <div class="three wide column text-overflow-element">
            <h5>{{candidateName}}  <a href="{{file_url}}" type="text" download>(CV)</a></h5>
        </div>
        <div class="two wide column text-overflow-element">
            <h5>{{salary}}</h5>
        </div>
        <div class="three wide column text-overflow-element">
            <h5>{{agencyEmail}}</h5>
        </div>
        <div class="one wide column">
            <div class="ui radio checkbox">
                <input type="radio" name="{{cvid}}" data-stage="stageOne" data-cvid="{{cvid}}" {{stageOne stage}}>
                <label></label>
            </div>
        </div>
        <div class="one wide column">
            <div class="ui radio checkbox">
                <input type="radio" name="{{cvid}}" data-stage="stageTwo" data-cvid="{{cvid}}" {{stageTwo stage}}>
                <label></label>
            </div>
        </div>
        <div class="one wide column">
            <div class="ui radio checkbox">
                <input type="radio" name="{{cvid}}" data-stage="stageThree" data-cvid="{{cvid}}" {{stageThree stage}}>
                <label></label>
            </div>
        </div>
        <div class="one wide column">
            <div class="ui radio checkbox">
                <input type="radio" name="{{cvid}}" data-stage="stageFour" data-cvid="{{cvid}}" {{stageFour stage}}>
                <label></label>
            </div>
        </div>
        <div class="two wide column">
            {{rating rating}}
        </div>
        <div class="two wide column">
            <button data-cvid="{{cvid}}" data-vid="{{vid}}" data-candidate-name="{{candidateName}}" data-current-stage="{{stage}}" data-agency-email="{{agencyEmail}}" data-agency-id="{{agencyId}}" class="ui inverted red button reject-button">Reject</button>
        </div>
        <input type="hidden" name="interviewId" value="{{interviewId}}">

    </div>
    <div class="ui  modal interview hide-element" id="{{cvid}}" ><!-- this is the interview form -->

        <i class="close icon"></i>
        <div class="header">
            Arrange an Interview for: &nbsp {{candidateName}}
        </div>
        <div class="ui content">
            <div class=" sixteen column row  ">
                <form class="ui form " name="{{cvid}}">
                    <input type="hidden" name="candidateName" value="{{candidateName}}">
                    <input type="hidden" name="cvid" value="{{cvid}}">
                    <input type="hidden" name="vid" value="{{vid}}">
                    <input type="hidden" name="agencyId" value="{{agencyId}}">
                    <input type="hidden" name="jobTitle" value="{{jobTitle}}">

                    <h4 class="ui dividing header">Proposed time, date and location</h4>
                    <h4 class="message"></h4>

                     <div class="inline fields">
                       <div class="required sixteen wide field">
                        <label for="firstIntTime"> 1st Choice Date & Time </label>
                          <div class="five wide field">
                            <input name="firstIntDate" class="datepicker" required>
                          </div>
                        <div class="field">
                            <input name="firstIntTime" type="time" required></input>
                        </div>
                      </div>
                    </div>

                    <div class="inline fields">

                        <label for="secondIntTime"> 2nd Choice Date & Time </label>
                        <div class="five wide field">
                            <input name="secondIntDate" class="datepicker">
                        </div>
                        <div class="field">
                            <input name="secondIntTime" type="time"></input>
                        </div>
                    </div>

                    <div class="inline fields">
                        <label for="thirdIntTime"> 3rd Choice Date & Time</label>
                        <div class="five wide field">
                            <input name="thirdIntDate" class="datepicker">
                        </div>
                        <div class=" field ">
                            <input name="thirdIntTime" type="time"></input>
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="required eight wide field">
                            <label>Full Interview Address:</label>
                            <div class="required eight wide inline field">

                            <input type="text" id="interviewAddress" name="interviewAddress" placeholder="Buckingham Palace, London SW1A 1AA " required></input>
                            </div>
                      </div>
                    </div>

                    <div class="inline fields">
                      <div class="required six wide field">
                        <label for="stage"> Interview Stage:</label>
                        <select name="stage" class="ui dropdown" required>
                            <option class="item" ></option>
                            <option class="item" value="stageTwo">First</option>
                            <option class="item" value="stageThree">Second</option>
                            <option class="item" value="stageFour">Final</option>
                        </select>
                      </div>
                    </div>
                    <div class="inline fields">
                        <label>Aditional comments</label>
                        <div class="twelve wide field">
                            <textarea name="additionalComments" value="" rows="3" maxlength="2000" placeholder="e.g. bring portfolio, interview will be one hour, etc." pattern="{{frontendInput}}"></textarea>
                        </div>
                    </div>
                    <div class="actions">

                        <button type="submit"  class="ui green large button send-interview" data-candidate-name="{{candidateName}}" data-job-title="{{jobTitle}}" data-cvid="{{cvid}}">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{/each }}
</div>
{{> rejectcandidatemodal}}
{{> savechanges}}
{{/if }}
<script type="text/javascript" src="/public/js/scheduling.js"></script>
<script type="text/javascript" src="/public/js/jobCharacterCounter.js"></script>
<script type="text/javascript" src="/public/js/datepicker.js"></script>
