    <div class="form-margin">
    <h1 class="header">Submit a Job</h1>
    <form action="/submitjob" method="POST" class="ui form">
        <div class="required eight wide field">
            <label for="jobTitle"> Job Title </label>
            <input type="text" name="jobTitle" pattern="{{frontendInput}}" title="no ankle brackets, square brackets or slashes" placeholder="e.g. I.T. Director" maxlength="100" required>
        </div>
        <div class="required field">
            <label for="jobDescription"> Job Description </label>
            <textarea id="jobDescription" type="text" name="jobDescription" pattern="{{frontendInput}}" title="no ankle brackets, square brackets or slashes" placeholder="You know the drill - keep it concise, to the point and don't be boring." maxlength="3000" required></textarea>
        </div>
        <h4 class="header item" id="textarea_feedback"></h4>
        <div class="two fields">
              <div class="required field">
                  <label for="jobCategory"> Job Category </label>
                  <select name="jobCategory" required>
                      <option value="Business Intelligence, Data Science & Analytics">Business Intelligence, Data Science & Analytics</option>
                      <option value="User Experience & Design">User Experience & Design</option>
                      <option value="Development">Development</option>
                      <option value="IT Project & Programme Management">IT Project & Programme Management</option>
                      <option value="Infrastructure & Service Delivery">Infastructure & Service Delivery</option>
                      <option value="Change & Transformation">Change & Transformation</option>
                      <option value="IT Leadership">IT Leadership</option>
                      <option value="Sales & Business Development">Sales & Business Development</option>
                      <option value="Other">Other</option>
                  </select>
              </div>
              <div class="required field">
                  <label for="teamCulture"> Team Culture </label>
                  <input type="text" name="teamCulture" pattern="{{frontendInput}}" title="no ankle brackets, square brackets or slashes" placeholder="e.g. Innovative, Startup, etc." maxlength="100" required>
              </div>
        </div>
        <div class="two fields">
              <div class="required field">
                  <label for="typesOfProjects"> What will they be working on?</label>
                  <input type="text" name="typesOfProjects" pattern="{{frontendInput}}" title="no ankle brackets, square brackets or slashes" placeholder="e.g. Team Transformation" maxlength="100" required>
              </div>
              <div class="field">
                  <label for="teamSize"> Team Size </label>
                  <select name="teamSize" required>
                      <option value="1-10">1-10</option>
                      <option value="10-20">10-20</option>
                      <option value="20-50">20-50</option>
                      <option value="100+">100+</option>
                  </select>
              </div>
        </div>

        <div class=" two fields">
              <div class="required  field">
                <label for="salary"> Salary (£)</label>
                <input type="number" name="salary" pattern="{{frontendInput}}" title="No 'greater than' or 'less than' symbols" min="0" step="1000"  maxlength="100" placeholder="e.g. £70,000" required>
              </div>
              <div class="required field">
                  <label for="package"> Package Details </label>
                  <input type="text" name="package" pattern="{{frontendInput}}" title="No 'greater than' or 'less than' symbols" maxlength="100" placeholder="e.g. +10% bonus, +3% equity etc." required>
              </div>

        </div>


        <div class="two fields">
          <div class="field">
            <label for="searchProgress"> What have you done so far in the search? </label>
            <select name="searchProgress">
              <option value="Nothing so far">Nothing so far</option>
              <option value="Just started looking">Just started looking</option>
              <option value="Been looking for a while">Been looking for a while</option>
            </select>
          </div>
          <div class="field">
            <label for="searchDeadline"> Deadline For Search </label>
            <input name="searchDeadline" class="datepicker">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label for="threeMostImportantSkills"> Three Most Important Skills </label>
              <input name="skillOne" type="text" placeholder="1. e.g. Management">
              <input name="skillTwo" type="text" placeholder="2. e.g. Innovative">
              <input name="skillThree" type="text" placeholder="3. e.g. Leadership">
          </div>
          <div class="field">
                    <label for="personality">Ideal Personality Fit </label>
                    <input type="text" name="personality" pattern="{{frontendInput}}" title="No 'greater than' or 'less than' symbols" placeholder="e.g. Super sociable, Quietly quirky, etc." maxlength="100">
           </div>
         </div>
        <input type="submit" value="Submit" class="ui blue button">
    </form>
</div>
{{message}}
<script type="text/javascript" src="public/js/jobCharacterCounter.js"></script>
<script type="text/javascript" src="public/js/datepicker.js"></script>
