<h1>User Info</h1>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="clients">Clients</a>
    <a class="item" data-tab="agencies">Agency</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="clients">
    {{#unless clients}}
    <br>
    <h3 class="">{{message}}</h3> 
    {{/unless}}
    <ul>
        {{#each clients}}
        <li>{{contactName}}</li>
        <li>{{contactNumber}}</li>
        <li>{{email}}</li>
        <li>{{companySize}}</li>
        <li>{{website}}</li>
        <li>{{companySize}}</li>
        <li>{{twitter}}</li>
        <li>{{facebook}}</li>
        <li>{{linkedin}}</li>
        <li>{{type}}</li>
        <!-- still need todo view more -->
        <input type="button" onclick="location.href=" value="View More"> {{/each}}
    </ul>
</div>
<div class="ui bottom attached tab segment" data-tab="agencies">
    {{#unless agencies}}
    <br>
    <h3>{{message}}</h3>
     {{/unless}}
    <ul>
        {{#each agencies}}
        <li>{{companyName}}</li>
        <li>{{contactName}}</li>
        <li>{{contactNumber}}</li>
        <li>{{email}}</li>
        <li>{{companySize}}</li>
        <li>{{companyDescription}}</li>
        <li>{{type}}</li>
        <!-- still need todo view more -->
        <input type="button" onclick="location.href=" value="View More"> {{/each}}
    </ul>
</div>
<script type="text/javascript" src="../public/js/tab.js"></script>
