<h1 class="ui block header">User Info</h1>
<div class="ui divider"></div>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="clients">Clients</a>
    <a class="item" data-tab="agencies">Agency</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="clients">
    {{#unless clients}}
    <br>
    {{#if message}}
    <h3>{{message}}</h3>
    {{/if }}
    {{/unless}}
        {{#each clients}}
        <div class="ui stackable grid">
            <div class="ui six column row">
              <div class="column text-overflow-element">
                <h5>Company Name</h5>
                <p>{{companyName}}</p>
              </div>
              <div class="column text-overflow-element">
                <h5>Contact</h5>
                <p>{{contactName}}</p>
              </div>
              <div class="column text-overflow-element">
                <h5>Contact Number</h5>
                <a href="tel:{{contactNumber}}"><p>{{contactNumber}}</p></a>
              </div>
              <div class="column text-overflow-element">
                <h5>Email</h5>
                <a href="mailto:{{email}}"><p>{{email}}</p></a>
              </div>
              <div class="column text-overflow-element">
                <h5>Size</h5>
                <p>{{companySize}}</p>
              </div>
              <div class="ui column">
                  <button class="ui inverted blue button viewMore" data-id="{{id}}">More...</button>
              </div>
            </div>

            <div class="hide-element hidden-group" id="{{id}}">
              <div class="ui stackable grid">
                <div class="ui six column row">
                  <div class="column">
                    <img class="ui tiny image company-logo" src="{{logo_url}}"/>
                  </div>
                   <div class="column text-overflow-element">
                    <h5>Sector</h5>
                    {{sector companySector}}
                  </div>
                  <div class="column text-overflow-element">
                    {{#if twitter}}
                    <h5>Twitter</h5>
                    <p>{{twitter}}</p>
                    {{/if }}
                  </div>
                  <div class="column text-overflow-element">
                    {{#if website}}
                    <h5>Company Website</h5>
                    <a href="{{website}}"><p>{{website}}</p></a>
                    {{/if }}
                  </div>
                  <div class="column text-overflow-element">
                    {{#if facebook}}
                    <h5>Facebook</h5>
                    <a href="{{facebook}}"><p>{{facebook}}</p></a>
                    {{/if }}
                  </div>
                  <div class="column text-overflow-element">
                    {{#if linkedin}}
                    <h5>LinkedIn</h5>
                    <a href="{{linkedin}}"><p>{{linkedin}}</p></a>
                    {{/if }}
                  </div>
               </div>
                {{#if companyDescription}}
                <div class="ui one column row">
                  <div class="column">
                    <h5>Company Description</h5>
                    <p>{{companyDescription}}</p>
                  </div>
                </div>
                {{/if }}
            </div>
          </div>
        </div>

        <div class="one colum row" style="display:none;"></div> <!-- so the divider underneath shows -->
        <div class="ui divider"></div>
        {{/each}}
</div>

<div class="ui bottom attached tab segment" data-tab="agencies">
    {{#unless agencies}}
    <br>
    {{#if message}}
    <h3>{{message}}</h3>
    {{/if }}
    {{/unless}}
    {{#each agencies}}
        <div class="ui stackable grid">
            <div class="ui six column row">
              <div class="column text-overflow-element">
                <h5>Company Name</h5>
                <p>{{companyName}}</p>
              </div>
              <div class="column text-overflow-element">
                <h5>Contact</h5>
                <p>{{contactName}}</p>
              </div>
              <div class="column text-overflow-element">
                <h5>Contact Number</h5>
                <a href="tel:{{contactNumber}}"><p>{{contactNumber}}</p></a>
              </div>
              <div class="column text-overflow-element">
                <h5>Email</h5>
                <a href="mailto:{{email}}"><p>{{email}}</p></a>
              </div>
              <div class="column text-overflow-element">
                <h5>Size</h5>
                <p>{{companySize}}</p>
              </div>
              <div class="column text-overflow-element">
                <h5>Specialism</h5>
                {{sector agencySpecialism}}
              </div>
            </div>
        </div>
        <div class="ui divider"></div>
    {{/each}}
</div>
<script type="text/javascript" src="../public/js/userinfo.js"></script>
