.jobtitl{
  width: 100% !important;
  right: 12% !important;
}
.jobcat{
  right: 4% !important;
  width: 118% !important;
}
.location , .jobtitle {
  width: 114% !important;
}
.companycss{
width: 111% !important;
}
.contract{
  width: 149% !important;
}
.saldayrate {
padding-bottom: 0% !important;
font-weight: bold;
}



.searchbar select {
  font-size: .75em;
}
.searchbar label {
  font-weight: bold;
}
.search {
  right: -166% !important;
}
