
body {
  font-family: 'Raleway', sans-serif !important;
  color: white !important;

}

h1 {
  font-size: 6em !important;
  font-weight: bold !important;
}
h2{
  font-size: 3em;
}

h3{
  font-size: 2.5em;
}

h4, p {
  font-family: 'Raleway' !important;
  font-weight: 400 !important;
}
h4 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
}

body {
    margin: 0;
    background: #000;
}
.humantitle{
  font-size: 3.25em !important;
  font-weight: 900 !important;
  width: 23em !important;

}

section {
  margin:0;
  padding:0;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    opacity: 0.3;
}

.container {
    margin: 0em 20em;
}

.home-page {
    font-size: 1.2em !important;
}

.home-page a {
    color: white !important;
}

.home-page-logo {
    font-family: helvetica;
    font-size: 1.5em;
    margin: 2em;
    padding: 0 1em !important;
}

.home-page-logo img{
    font-family: helvetica;
    font-size: 1em;
    margin: 2em;
    padding: 0 1em !important;
}


.intro {
    padding-top: 15em;
    padding-bottom: 15em;
    margin:auto;
    text-align: justify;
    margin-left:4em;
}

.intro h1 {
  margin:0em auto;
}
.intro h4{
  width:27.5em;
}

#aboutUs{
  background: url(../assets/images/using-tablet.jpg);
  background-color: black;
  background-color: #1B1C1F!important;
}


#aboutUs h3, #products h3 {
  color: grey;
  font-weight: lighter;
}

.aboutUs h4 ,.aboutUs p {
  text-align: center;
}

.introduction {
  text-align: center;
  margin:auto;
  margin-top: 2em;
}

#testimonials{
    background-color: #00B5AE!important;
    padding-bottom: 0em;
}

#products {
    background: url('../assets/images/group-planning.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;

}

.productsWord {
    position: absolute;
    bottom: 60%;
    right:27%;
}
.businessI {
    right: 20%;
}
.dataS {
   right:35%;
}

.dev {
  right: 32%;
}
.productNumber {
    font-size: 6em !important;
    font-weight: 800;
    color: teal!important;
    opacity: 0.75;
}

.productsContent {
    position: relative;
    text-align: center;
    padding-bottom: 3em;
}


.products .tm{
  text-align: left !important;
}

#whyHarness {
   background-color: #00b5ad!important;
   margin-bottom:1em;
}


.getintouch {
  margin: auto;
  text-align: center;
  padding-bottom: 2em;
  margin: 3em auto;
}

sup {
  font-size: small;
}

.numtel {
  text-decoration: none;
  color: white;

}

#contactUs{
    background-color: #1B1C1F!important;
}

.overlayproducts, .overlayaboutUs{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.overflowHidden {
  overflow: hidden;
 }

 .title {
   margin:2em;

 }
