body,
p,
.ui.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

h1,
h2,
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.overview-heading h4:last-child {
    font-weight: 600;
}

.grid.listView h5:last-child {
    font-weight: 100;
}

.ui.inverted.menu {
    color: white;
    background-color: #0E98B9;
}

.ui.menu .item>img:not(.ui) {
    width: 10em;
}

.ui.grid.listView {
    margin-top: 20px;
}

.modal-content {
    margin: 4em;
}

.text-overflow-element {
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-centering {
    text-align: center;
}

.hide-element {
    display: none;
}

.hidden-group {
    /* currently used on approve users + user info */
    padding: 1em;
}

.form-margin {
    margin: 0em 13em;
}


/*==============================
  Container for every page - see content partial
================================*/

.top-padding {
    padding-top: 5em;
}


/*===========================
  Nav Bar
  ==========================*/

.ui.fixed.menu.home-navbar {
    border-top: solid 2px black;
    height: 56px;
}

.homeLogo {
    position: relative;
    text-align: center;
    margin: auto;
}


/*==============================
  HOMEPAGE (/home)
================================*/

.howitworks p,
.whyharness p,
.aboutus p {
    font-size: 130%;
}

.ui.inverted.header.howitworks,
.ui.inverted.header.whyharness,
.ui.header.aboutus {
    font-weight: 500;
}

.signin {
    left: 10%;
    margin-top: 40px;
}

.findout-more {
    position: realtive;
    text-align: center;
    margin: auto;
    margin-top: 8em;
}

.large.angle.down.icon.scroll-down {
    font-size: 300%;
}

.main-pic {
    height: 55em;
    width: 100%;
}

.home-container {
    text-align: center;
    max-height: 60em;
    postion: relative;
    background-color: black;
}

.intro-text {
    position: absolute;
    color: #ffffff;
    top: 25%;
    right: 25%;
    text-align: center;
    max-width: 50%;
    margin-top: 4em;
}

.intro-text strong {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}

.intro-text p {
    font-size: 150%;
}

.ui.linkedin.button {
    marign: 5em;
    border-radius: 0px;
    background-color: #19b7ca;
    width: 170px;
    height: 50px;
}

.ui.linkedin.button {
    margin: 10px;
}

.ui.text.container {
    text-align: center;
    margin: 2em;
}

.ui.introduction.text.container {
    text-align: center;
    margin: 2em;
    width: 50em;
}

.ui.attached.segment.trustedby {
    background-color: #15abc6;
    min-height: 20em;
    max-width: 70%;
}

.ui.container.trustedby img {
    margin-top: 2em;
    margin-bottom: 2em;
}

.container.howitworks,
.container.whyharness,
.container.aboutus {
    text-align: center;
    margin: auto;
    width: 75%;
}

.ui.attached.segment.howitworks {
    min-height: 40em;
}

.ui.attached.segment.whyharness {
    background-image: linear-gradient(to bottom, #20c9de, #0e98b9);
    color: white;
}

.whyharness {
    margin: 1em;
}

.whyharness img {
    margin-top: 14px;
}

.grid.whyharness {
    margin-left: -80px;
}

.ui.attached.segment {
    border: none;
}

.ui.attached.segment.aboutus {
    background-color: #484848;
    color: white;
    text-align: center;
    border: none;
}

.aboutus {
    text-align: center;
    margin: 2em;
    font-size: 102%;
}

.ui.header.howitworks {
    color: #15abc6;
    font-weight: 500;
}

.image-round-container {
    background-color: white;
    text-align: center;
    margin: auto;
    padding-bottom: 2em;
}

.image-round-container img {
    text-align: center;
    margin: auto;
}

.ui.medium.circular.image {
    margin-bottom: 2em;
}

.ui.main.container {
    margin-top: 7em;
}

h1.ui.huge.header {
    text-align: center;
    margin: 1em;
}

.ui.attached.segment.testimonials {
    background-color: #15abc6;
    min-height: 40em;
}

.grid.testimonials {
    margin-top: 4em;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
}

.home-footer,
.home-footer a,
.home-footer p {
    display: inline-block;
    position: relative;
    margin: 5px;
}


/*===========================
Agency Login
  ===========================*/

.agencyHomeLogo {
    position: relative;
    margin: auto;
    text-align: center;
    top: 30%;
}

.agencyButton {
    position: absolute;
    text-align: center;
    width: 200px;
    top: 35%;
    left: 40%;
}

.home-navbar {
    border-top: solid 2px black;
}

.agency.background {
    margin: auto;
    top: 50%;
    background-color: black;
}

.agency.wrapper {
    position: relative;
    background-color: black;
}


/*===========================
  Vacancy partial
  ===========================*/

.vacancy-dates {
    line-height: 0.3em;
}

.company-logo {
    border: 1px solid #d4d4d5;
    padding: 5px;
    box-shadow: 0 0 0 1px #d4d4d5;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}


/*===========================
  SCHEDULING PAGE
  ===========================*/

.ui.stackable.grid.application-stages {
    margin-top: -2em;
}


/* .overview-heading {
    also on /client
    display: none;
} */

.scheduling-header-margin h5 {
    margin-left: -15px
}

.scheduling-header-margin h5:last-child {
    font-weight: 100;
}

.ui.radio.checkbox {
    display: flex;
    justify-content: center;
}

.accepted-margin {
    margin-right: 12px;
}

.submitted-margin {
    margin-right: 20px;
    margin-left: -20px;
}

.submitted-green {
    color: green;
}


/*===========================
  CLIENT PAGE
  ===========================*/

.two.wide.column.client-button {
    margin-top: -0.6em;
}

.ui.stackable.grid.listView.client-list {
    margin-bottom: 0px;
}


/*===========================
  OVERVIEW PAGES
  ===========================*/

.ui.grid.overview-list {
    /* currently used on adminvacancies */
    margin-top: 15px;
    margin-bottom: 15px;
}

.overview-list-element {
    height: 90px;
    line-height: 70px;
}


/*==============================
================================
MEDIA QUERIES
================================
================================*/


/*==============================
 mobile view 
================================*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    /* STYLES GO HERE */
 

    .home-container {
        text-align: center;
        max-height: 40em;
        width:100%;
        postion: relative;
        background-color: black;
    }
    .intro-text {
        text-align: center;
        margin: auto;
        text-align: center;
        font-size: 0.75em;
        width: 20em;
        max-width: 100%;
        right: 30%;
        top: 10%;
    }
    .intro-text strong {
        font-size: 120%;
    }
    .findout-more {
        margin-top: 1em;
    }
    .main-pic {
        max-height: 40em;
        width: 100%;
        opacity: 0.5;
    }
    .image-round-container p:last-child {
        display: none;
    }
    .ui.attached.segment.howitworks {
        min-height: 10em;
    }
}

@media only screen and (min-width: 667px) and (max-width: 764px) {
    .ui.stackable.grid.application-stages {
        margin-top: -2em;
    }
    .application-stages {
        text-align: center;
    }
    .overview-heading {
        display: block;
    }
    on live jobs page #80 .live-job-element {
        height: 90px;
        line-height: 70px;
    }
    .intro-text {
        text-align: center;
        margin: auto;
        text-align: center;
        font-size: 1em;
        width: 20em;
        max-width: 100%;
        right: 20%;
        top: 10%;
    }
    .intro-text strong {
        font-size: 120%;
    }
    .findout-more {
        margin-top: 1em;
    }
    .main-pic {
        height: auto;
        width: auto;
        position: center;
        opacity: 0.5;
    }
    .image-round-container p:last-child {
        display: none;
    }
    .ui.attached.segment.howitworks {
        min-height: 10em;
    }
}


/*==============================
small than a 14inch laptop
================================*/

@media only screen and (min-width:764px) and (max-width: 1200px) {
    .ui.stackable.grid.application-stages {
        margin-top: -2em;
    }
    .application-stages {
        text-align: center;
    }
    .overview-heading {
        display: block;
    }
    on live jobs page #80 .live-job-element {
        height: 90px;
        line-height: 70px;
    }
    .intro-text {
        top: 15%;
        right: 25%;
        text-align: center;
        max-width: 50%;
        margin-top: 2em;
    }
    .home.logo {
        position: absolute;
        height: 40px;
        margin: 1em;
        right: 38%;
        top: 3%;
    }
    .main-pic {
        height: 45em;
        width: 100%;
    }
}


/*==============================
Laptops
================================*/

@media only screen and (min-width: 1200px) {
    .main-pic {
        height: 45em;
        width: 100%;
    }
    .intro-text {
        top: 20%;
        right: 25%;
        text-align: center;
        max-width: 50%;
        margin-top: 2em;
    }
    .home.logo {
        position: absolute;
        height: 40px;
        margin: 1em;
        right: 40%;
        top: 3%;
    }
}


/*==============================
Very Large Screen
================================*/

@media only screen and (min-width: 1600px) {
    .home.logo {
        position: absolute;
        height: 40px;
        margin: 1em;
        right: 42%;
        top: 3%;
    }
    .main-pic {
        height: 60em;
        width: 100%;
    }
    .findout-more {
        margin-top: 16em;
    }
    .grid.whyharness {
        margin-left: -100px;
    }
}
