body,
h1,
h2,
h3,
h4,
h5,
.ui.header,
.ui.button {
    font-family: 'Open Sans', sans-serif;
}

.ui.inverted.menu {
    color: white;
    background-color: #0E98B9;
}

.ui.menu .item>img:not(.ui) {
    width: 10em;
}

.ui.grid.listView {
    margin-top: 20px;
}

.modal-content {
    margin: 4em;
}

.text-overflow-element {
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-centering {
    text-align: center;
}

.hide-element {
    display: none;
}

.hidden-group {
    /* currently used on approve users + user info */
    padding: 1em;
}

.form-margin {
    margin: 0em 13em;
}


/*==============================
  Container for every page - see content partial
================================*/

.section-container {
    padding: 1em;
}


/*==============================
  HOMEPAGE (/home)
================================*/

.howitworks p,
.whyharness p,
.aboutus p {
    font-size: 130%;
}

.home.logo {
    position: absolute;
    height: 40px;
    margin: 1em;
    right: 42%;
    top: 3%;
}

.home-navbar .container {
    margin: 0 1em;
    width: 120em;
    height: 70px;
}

.signin {
    left: 10%;
    margin-top: 40px;
}

.top-padding {
    padding-top: 10em;
    position: relative;
}

.findout-more {
    position: absolute;
    top: 140%;
    right: 42%;
}

.main-pic {
    height: 46em;
    width: 100%;
}

.home-container {
    text-align: center;
    max-height: 60em;
    postion: relative;
    background-color: black;
}

.intro-text {
    position: absolute;
    color: #ffffff;
    top: 25%;
    right: 25%;
    text-align: center;
    max-width: 50%;
    margin-top: 4em;
}

.intro-text strong {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}

.intro-text p {
    font-size: 150%;
}

.ui.linkedin.button {
    marign: 5em;
    border-radius: 0px;
    background-color: #19b7ca;
    width: 170px;
    height: 50px;
}

.ui.text.container {
    text-align: center;
    margin: 2em;
}

.ui.introduction.text.container {
    text-align: center;
    margin: 2em;
    width: 50em;
}

.ui.attached.segment.trustedby {
    background-color: #15abc6;
    min-height: 20em;
    max-width: 70%;
}

.ui.container.trustedby img {
    margin-top: 2em;
    margin-bottom: 2em;
}

.container.howitworks,
.container.whyharness,
.container.aboutus {
    text-align: center;
    margin: auto;
    width: 75%;
}

.ui.attached.segment.howitworks {
    min-height: 40em;
}

.ui.attached.segment.whyharness {
    background-image: linear-gradient(to bottom, #20c9de, #0e98b9);
    color: white;
}

.whyharness {
    margin: 1em;
}

.ui.attached.segment.aboutus {
    background-color: #484848;
    color: white;
    text-align: center;
}

.aboutus {
    text-align: center;
    margin: 2em;
    font-size: 102%;
}

.ui.header.howitworks {
    color: #15abc6;
}

.image-round-container {
    background-color: white;
    text-align: center;
    margin: auto;
    padding-bottom: 2em;
}

.image-round-container img {
    text-align: center;
    margin: auto;
}

.ui.medium.circular.image {
    margin-bottom: 2em;
}

.ui.main.container {
    margin-top: 7em;
}

h1.ui.huge.header {
    text-align: center;
    margin: 1em;
}

.ui.attached.segment.testimonials {
    background-color: #15abc6;
    min-height: 40em;
}

.grid.testimonials {
    margin-top: 4em;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
}

.home-footer,
.home-footer a,
.home-footer p {
    display: inline-block;
    position: relative;
    margin: 5px;
}


/*===========================
  Nav Bar
  ==========================*/

.ui.fixed.menu.home-navbar {
    border-top: solid 2px black;
}

.home-navbar a {
    margin-right: 40px;
    margin-top: 4em;
}

h1.ui.huge.header {
    text-align: center;
    margin: 1em;
}

.ui.fixed.inverted.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-weight: 400;
    / / border: 1px solid rgba(34, 36, 38, .15);
    / box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    / border-radius: .28571429rem;
    / / min-height: 2.85714286em;
}

.ui.fixed.inverted.menu .header.item,
.ui.vertical.menu .header.item {
    margin: 0;
    background: 0 0;
    /* text-transform: normal; */
    font-weight: 600;
}

.ui.fixed.inverted.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    /* width: 1px; /
    / background: rgba(34,36,38,.1); */
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .95);
}


/*===========================
Agency Login
  ===========================*/

.agency.linkedin.button {
    position: absolute;
    text-align: center;
    width: auto;
    top: 35%;
    left: 40%;
    margin: auto;
}

.home-navbar {
    border-top: solid 2px black;
}

.agency.background {
    margin: auto;
    top: 50%;
    background-color: black;
}

.agency.wrapper {
    position: relative;
    background-color: black;
}


/*===========================
  Vacancy partial
  ===========================*/

.vacancy-dates {
    line-height: 0.3em;
}

.company-logo {
    border: 1px solid #d4d4d5;
    padding: 5px;
    box-shadow: 0 0 0 1px #d4d4d5;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}


/*===========================
  SCHEDULING PAGE
  ===========================*/

.ui.stackable.grid.application-stages {
    margin-top: -2em;
}

.overview-heading {
    /* also on /client */
    display: none;
}

.scheduling-header-margin p {
    margin-left: -15px
}

.ui.radio.checkbox {
    display: flex;
    justify-content: center;
}

.accepted-margin {
    margin-right: 12px;
}

.submitted-margin {
    margin-right: 20px;
    margin-left: -20px;
}

.submitted-green {
    color: green;
}


/*===========================
  CLIENT PAGE
  ===========================*/

.two.wide.column.client-button {
    margin-top: -0.6em;
}

.ui.stackable.grid.listView.client-list {
    margin-bottom: 0px;
}


/*===========================
  OVERVIEW PAGES
  ===========================*/

.ui.grid.overview-list {
    /* currently used on adminvacancies */
    margin-top: 15px;
    margin-bottom: 15px;
}

.overview-list-element {
    height: 90px;
    line-height: 70px;
}


/*==============================
================================
MEDIA QUERIES
================================
================================*/


/*==============================
 mobile view 
================================*/

@media(max-width:700px) {
    .section-container {
        padding: 1em;
        margin: 2em 2em;
    }
    .intro-text {
        top: 15%;
        right: 25%;
        text-align: center;
        max-width: 50%;
        margin-top: 2em;
    }
    .intro-text p {
        font-size: 1em;
    }
    .main-pic {
        height: 100%;
        width: auto;
    }
    .findout-more {
        position: absolute;
        top: 200%;
        right: 46%;
    }
    .home.logo {
        position: absolute;
        height: 30px;
        margin: 1em;
        right: 73%;
        top: 3%;
    }
    .ui.linkedin.button {
        marign: 5em;
        border-radius: 0px;
        background-color: #19b7ca;
        width: 160px;
        height: 40px;
    }
    .ui.linkedin.button a {
        margin-top: 2em;
    }
}


/*==============================
small than a 14inch laptop
================================*/

@media (min-width:700px) and (max-width:1200px) {
    .section-container {
        padding: 1em;
        margin: 2em 2em;
    }
    .intro-text {
        top: 15%;
        right: 25%;
        text-align: center;
        max-width: 50%;
        margin-top: 2em;
    }
    .intro-text p {
        font-size: 1em;
    }
    .home.logo {
        position: absolute;
        height: 40px;
        margin: 1em;
        right: 38%;
        top: 3%;
    }
}


/*==============================
Laptops
================================*/

@media only screen and (min-width: 768px) {
    .section-container {
        padding: 3em;
        margin: 0 auto;
    }
    .ui.stackable.grid.application-stages {
        margin-top: -2em;
    }
    .application-stages {
        text-align: center;
    }
    .overview-heading {
        display: block;
    }
    /* on live jobs page #80 */
    .live-job-element {
        height: 90px;
        line-height: 70px;
    }
}


/*==============================
Very Large Screen
================================*/

@media only screen and (min-width: 1524px) {
    .section-container {
        padding: 5em;
    }
    .section-container {
        max-width: 1224px;
    }
    .main-pic {
        height: 60em;
        width: 100%;
    }
    .findout-more {
        position: absolute;
        top: 200%;
        right: 46%;
    }
}
