/*==============================
  Container for every page - see content partial
================================*/

.section-container {
		margin: 5em 5em;
}

/*==============================
  HOMEPAGE (/home)
================================*/

.home-container {
		postion: relative;
}

.home-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}

h1.ui.huge.header {
    text-align: center;
}

/*==============================
  CLIENT HOMEPAGE (/client)
================================*/

.ui.grid.clientJobs {
    margin-top: 20px;
}
/*===========================
  Vacancy 
  ===========================*/
.vacancy-lineHeight { 
	line-height: 0.5em;
 }


/*==============================
  More than standard laptop size
================================*/

@media only screen
and (min-width : 1224px) {

	.section-container {
		margin: 5em 15em;
	}

	.section-container {
		max-width: 1224px;
	}

}
