<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {{> title}}
    {{> config}}
</head>

<body>
    <nav class="ui menu">
        <a class="item" href="/agency"><h3 class="header item"> Live Jobs</h3></a>
        <a class="item" href="/agency/myjobs"><h3 class="header item">My Jobs</h3></a>
        <a class="item" href="/agency/submitcandidate"><h3 class="header item">Submit a candidate</h3></a>
        <a class="item" href="/logout"><h3 class="header item">Logout</h3></a>
    </nav>
    {{> content}}
</body>

</html>
