<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {{> title}} {{> config}}
</head>

<body>
    <nav class="ui fixed inverted menu">
        <div class="ui container">
            <a class="item" href="/"><img height="30" class="large logo" src="https://cloud.githubusercontent.com/assets/13098199/14913438/fed406cc-0dfa-11e6-9a90-274a2f64c187.png"></a>
            <div class="right menu">
                <a class="item" href="/agency"><h4 class="header item"> Live Jobs</h4></a>
                <a class="item" href="/agency/myjobs"><h4 class="header item">My Jobs</h4></a>
            </div>
            <div class="right menu">
                <a class="item" href="/harnesstalent"><h4 class="header item"> Harness Talent</h4></a>
                <a class="item" href="/logout"><h4 class="header item">Logout</h4></a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    {{> content}}
</body>

</html>
