<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Harness- Client</title>

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">


    <!-- jQuery used for the character counter on signup pages -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="modernizr-2.6.2.min.js"></script>
    <script src="http://modernizr.com/download/?-inputtypes-setclasses"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js" integrity="sha256-lCF+55kMUF+3fO/3BiXui4eiUKcQmtr7ecKSeLVDxIQ=" crossorigin="anonymous"></script>

</head>

<body>
    <a href="/">Home</a>
    <a href="/submitjob">Submit a job</a>
    <a href="/logout">Logout</a>
    <h1>This is the client dashboard</h1>

    {{{content}}}
</body>

</html>
