<div class="ui first coupled modal confirmation-modal">
    <div class="header">
            You have made some changes!
    </div>
    <div class="content">
        <h5>Please confirm you want to save these changes</h5>
    </div>
    <div class="actions">
        <button class="ui inverted red button cancel-confirmation">
            Cancel
        </button>
        <button class="ui primary button savechanges-confirmation" type="button">Confirm Save Changes</button>
    </div>
</div>

<div class="ui small second coupled modal confirmation-modal">
    <div class="header">
        Changes Saved !
    </div>
    <div class="content">
        <div class="description">
            <p>Your changes have ben saved, the client will now be able to view the candidates rating. </p>
        </div>
    </div>
    <div class="actions">

        <div class="ui approve button">
            <i class="checkmark icon"></i> All Done
        </div>
    </div>
</div>