<div class="ui first coupled modal reject-modal">
    <div class="header">
        Sorry to hear you want to reject this candidate...
    </div>
    <div class="content">
        <h5>Please confirm you want to reject this candidate</h5>
    </div>
    <div class="actions">
        <button class="ui inverted red button cancel-rejection">
            Cancel
        </button>
        <button class="ui primary button confirm-rejection" type="button">Confirm rejection</button>
    </div>
</div>

<div class="ui small second coupled modal reject-modal">
    <div class="header">
        Rejection confirmed
    </div>
    <div class="content">
        <div class="description">
            <p>Sorry this candidate wasn't quite right. We've notified the agency.</p>
        </div>
    </div>
    <div class="actions">

        <div class="ui approve button">
            <i class="checkmark icon"></i> All Done
        </div>
    </div>
</div>