<div class="two fields">
    <div class="required field">
        <label for="candidateName"> Name </label>
        <input type="text" name="candidateName" placeholder="Name" pattern="{{frontendInput}}" maxlength="100" required>
    </div>
    <div class="required field">
        <label for="jobTitle"> Job Title </label>
        <input type="text" name="jobTitle" placeholder="Job Title" pattern="{{frontendInput}}" maxlength="100" required>
    </div>
</div>
<div class="two fields">
    <div class="required field">
        <label for="company">Company</label>
        <input type="text" name="company" placeholder="employer or company name" pattern="{{frontendInput}}" maxlength="100" required>
    </div>
    <div class="required field">
        <label for="jobCategory">Company Category</label>
        <input type="text" name="jobCategory" placeholder="Industry or sector" pattern="{{frontendInput}}" maxlength="100" required>
    </div>

</div>
<div class="two fields">
    <div class="required field">
        <label for="email"> Email Address </label>
        <input type="email" name="email" placeholder="Email address" maxlength="100" required>
    </div>
    <div class="required field">
        <label for='contactNumber'> Phone Number </label>
        <input type="tel" name='contactNumber' placeholder="Phone Number" maxlength="20" pattern={{phoneNumber}} title="Please enter numbers only" required>
    </div>
</div>
<div class="two fields">
    <div class="required  field">
        <label for="salary"> Current Salary (£)</label>
        <input type="number" name="salary" pattern="{{frontendInput}}" title="No 'greater than' or 'less than' symbols" min="0" step="1000" maxlength="100" placeholder="e.g. £70,000" required>
    </div>
    <div class="field">
        <label for="linkedInProfile"> LinkedIn </label>
        <input type="text" name="linkedInProfile" placeholder="LinkedIn Profile " pattern="{{url}}" title="Please enter 'https://' or 'http://' before domain name" maxlength="100">
    </div>
</div>
<div class="two fields">
    <div class="required field">
        <label for="cv"> Upload CV </label>
        <input type="file" name="file_name" class="file_input" required>
        <input type="hidden" class="file_url" name="file_url" required>
    </div>
    <div class="field">
        <input type="submit" value="Submit" class="ui blue button">
    </div>
</div>
