<div class="ui  modal interview">
    <i class="close icon"></i>
    <div class="header">
        Arrange an Interview

    </div>
    <div class="ui content">
        <form class="ui form">
            <h4 class="ui dividing header"> Proposed time, date and location</h4>
            <div class="required inline fields">
                <label for=" firstIntDate"> 1st  Choice Date & Time</label>
                <div class="required four wide field" >
                    <input id="firstIntDate" name="firstIntDate" class="datepicker" required>
                </div>
                <div class="required field">
                    <input name="firstIntTime" id="firstIntTime" type="time"  placeholder="19:00" required>
                </div>
            </div>
            <div class="inline fields">
                <label for="secondIntTime"> 2nd  Choice Date & Time </label>
                <div class="four wide field">
                    <input name="secondIntDate" class="datepicker">
                </div>
                <div class="field">
                    <input name="secondIntTime" type="time" ></input>
                </div>
            </div>
            <div class="inline fields">
                <label for="thirdIntTime"> 3rd  Choice Date & Time</label>

                <div class="four wide field">
                    <input name="thirdIntDate" class="datepicker">
                </div>
                <div class=" field ">
                    <input name="thirdIntTime" type="time"></input>
                </div>
            </div>
            <div class="inline fields">
                  <label>Full Interview Address:</label>
                  <div class="required eight wide inline field" >
                    <input type="text" id="interviewAddress" name="interviewAddress"  placeholder="Buckingham Palace, London SW1A 1AA " required></input>
                </div>
            </div>
            <div class="inline fields">
                 <label>Aditional comments</label>
                 <div class="twelve wide field">
                    <textarea name="additionalComments" value=""rows="3" maxlength="2000" placeholder="e.g. bring portfolio, interview will be one hour, etc." pattern="{{frontendInput}}"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <h4 class="ui header warning message"></h4>
            <button type="button" class="ui green large button send-interview"
            data-candidate-name="{{candidateName}}"
            data-job-title= "{{jobTitle}}"
            >Send</button>
        </div>

    </form>
   </div>
</div>
<script type="text/javascript" src="/public/js/jobCharacterCounter.js"></script>
<script type="text/javascript" src="/public/js/datepicker.js"></script>