<div class="ui basic doc-viewer modal">
    <i class="close icon"></i>
    <div class="header">
       Would you like to accpet this CV ?
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic inverted button reject">
                <i class="remove icon"></i> Reject
            </div>
            <div class="ui green basic inverted button accept">
                <i class="checkmark icon"></i> Accept
            </div>
        </div>
    </div>
    <div class="image content">
        <div class="image">
          <iframe src="/public/assets/ViewerJS/#../Downloads/Test.odt" width='850' height='566' allowfullscreen webkitallowfullscreen></iframe>    
        </div>
    </div>
</div>
