<div class="ui basic doc-viewer modal">
    <i class="close icon"></i>
    <div class="header">
       Would you like to accept this CV ?
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic inverted button basic-modal-reject">
                <i class="remove icon"></i> Reject
            </div>
            <div class="ui green basic inverted button basic-modal-accept">
                <i class="checkmark icon"></i> Accept
            </div>
        </div>
    </div>
    <div class="image content">
        <div class="image">
 <!--          <iframe src="" id="iframe-pdf" width='850' height='566' allowfullscreen webkitallowfullscreen ></iframe> -->
          <iframe id="iframeId" src='' width='850' height='566' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
        </div>
    </div>
</div>
