<div class="ui first coupled modal reject-modal">
    <div class="header">
        Remove vacancy.
    </div>
    <div class="content">
        <h5>Please confirm you want to remove this vacancy</h5>
    </div>
    <div class="actions">
        <button class="ui inverted red button cancel-rejection">
            Cancel
        </button>
        <button class="ui primary button confirm-rejection" type="button">Confirm Removal</button>
    </div>
</div>

<div class="ui small second coupled modal reject-modal">
    <div class="header">
        Removal confirmed
    </div>
    <div class="content">
        <div class="description">
            <p>This vacnacy has now been removed from your overview</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">
            <i class="checkmark icon"></i> All Done
        </div>
    </div>
</div>